[2019-12-02 11:33] AMecea commented on #433
Hi @vamsikurre,

We will like to add support for helm version 3.  We can make the chart compatible with both v3 and v2.

If you are willing to contribute to this, PR are welcomed.

[2019-12-05 10:49] AMecea opened #434 "ReadOnly cluster condition is unstable"
Now if orchestrator returns some nodes with `IsUpToDate` to `false`, which is common, it will not consider that node when computing the `ReadOnly` condition. See this [line](https://github.com/presslabs/mysql-operator/blob/0e8f3e2129ca12e83cd974ac097a9c309eaa98ca/pkg/controller/orchestrator/orchestrator_reconcile.go#L208) and this [line](https://github.com/presslabs/mysql-operator/blob/0e8f3e2129c

[2019-12-09 09:50] jserviceorg opened #435 "option to clean up cron jobs"
is it somehow possible to automatically clean finished backup job leftovers? something like kubernetes   ttlSecondsAfterFinished ?

[2019-12-09 10:44] AMecea commented on #435
Hi @jserviceorg, you can set a history limit per cluster. See this [example](https://github.com/presslabs/mysql-operator/blob/0e8f3e2129ca12e83cd974ac097a9c309eaa98ca/examples/example-cluster.yaml#L19).

Hope this helps!

[2019-12-09 12:31] jserviceorg commented on #435
oh i missed that one :) thanks!

[2019-12-09 12:31] #435 closed

[2019-12-09 12:33] jserviceorg opened #436 "custom annotations / template annotations"
Hi!

i need to add custom annotions / template annotations, since mysql operator creates a statefulset i guess this could be done somehow? editing the statefulset manually gives strange results (only one pod gets modified, the others just ignore the changes)

[2019-12-09 13:51] AMecea commented on #436
Hi @jserviceorg, On the MySQL cluster you can set `podSpec`, see [this](https://godoc.org/github.com/presslabs/mysql-operator/pkg/apis/mysql/v1alpha1#PodSpec) documentation that describes in detail each field, it should shed some light.

[2019-12-09 21:21] dougfales opened #437 "Support custom options for xtrbackup, xbstream, rclone"
In our usage of the operator, we have found that passing some extra arguments to the `xtrabackup`, `xbstream`, and `rclone` command is sometimes helpful. For instance, if we need to tell these commands to run with higher memory limits or use more threads.

We would like to propose adding a few array properties to the spec that will allow us to pass one or more custom arguments to these commands as

[2019-12-16 06:24] andypeng2015 opened #438 "how to mount ConfigMap or Volume to orchestrator"
Hi I need to use TLS in `orchestrator`, based on the `conf.json` file shown below, I have to specify the Cert file path, so how to mount ConfigMap or Volume to orchestrator to achieve it, cannot find the options in [values file](https://github.com/presslabs/mysql-operator/blob/master/charts/mysql-operator/values.yaml)

`conf.json:`
[code]

https://github.com/github/orchestrator/blob/855e930e89c0cf

[2019-12-17 09:57] jserviceorg opened #440 "add replica outside kubernetes, any advices on how to do this?"
We want do add another replication to our presslabs mysql setup within kubernetes, but outside of Kubernetes. But i am struggling a bit on how to archive that with the "moving" MySQL parts in K8S. Maybe anyone already did this and got some advices?

Cheers,

Juergen

[2019-12-17 23:00] 21h commented on #433
https://github.com/presslabs/mysql-operator/pull/441

[2019-12-18 11:01] MTreide-Heuser opened #442 "Deceptive CRON format"
The only objective of this:

https://github.com/presslabs/mysql-operator/blob/66c729c42c52be7c56aa06f77d798e0e6d490767/vendor/github.com/wgliang/cron/doc.go#L25-L37

Seems to drive admins to distraction.

🤣

[2019-12-19 09:51] kevinbin commented on #360
How should this parameter orchestrator.persistence.storageClass be set? If using local disk
orchestrator.persistence.storageClass=Local ?

[2019-12-20 13:19] AMecea commented on #360
Hi @kevinbin ,

Using `orchestrator.persistence.storageClass` you can specify which [storage class](https://kubernetes.io/docs/concepts/storage/storage-classes/) to use.
To see what storage classes you have run `kubectl get storageclass`. Usually, this can be empty and then the default storage class is used. (make sure that you have a default storage class set)

[2019-12-20 14:39] etiennejournet commented on #294
Hello,

It still doesn't work with Helm3 :
`{"level":"error","ts":1576852138.0194187,"logger":"mysql-operator","msg":"unable to setup controllers","error":"no matches for kind \"MysqlBackup\" in version \"mysql.presslabs.org/v1alpha1\"","stacktrace":"github.com/presslabs/mysql-operator/vendor/github.com/go-logr/zapr.(*zapLogger).Error\n\t/go/src/github.com/presslabs/mysql-operator/vendor/github.co

[2019-12-23 13:45] aberfeldy opened #444 "getting 'Unable to determine cluster name' in a new cluster"
We wanted to move to a different cluster and reusing the same CRD yamls for creating mysql instances via the operator.

[code]

but it just failes with the operator throwing:
[code]

the orchestrator tells me:
[code]

The first pod is created and most of the containers are ready, but the mysql container is marked as not ready. Thus the cluster won't be created and is not usable.
I've installed the

[2020-01-07 09:55] vitobotta opened #446 "After a cluster upgrade, replication seems to work but Orchestrator fails to update cluster topology (connection refused)"
Hi! I am using DigitalOcean's managed kubernetes and yesterday I replaced a node pool with another, which caused one node per time to be replaced. When the current MySQL master was evicted from a node being replaced, MySQL seemed to failover to the slave, but since then Orchestrator is unable to show the topology in the UI - I did see a message once saying that the cluster had been recovered or so

[2020-01-07 10:01] vitobotta commented on #446
In the master's log I see

[code]

And that is the IP of the orchestrator. It's trying to login with no username?

[2020-01-07 12:20] vitobotta commented on #446
I don't understand, I tried several times restoring from a backup taken before the cluster upgrade and again, the replication seems to work but Orchestrator shows the same thing as shown in the image above plus this:

<img width="331" alt="Screenshot 2020-01-07 at 14 19 17" src="https://user-images.githubusercontent.com/283811/71895081-bb734c00-3158-11ea-9ce0-bb8c70f3274e.png">

I deleted the clus

[2020-01-07 12:39] AMecea commented on #446
Hi @vitobotta, please show me the cluster status (`kubectl describe mysql <mysql-cluster-name>`).

Did you set a password for orchestrator topology? Check the secret `<release-name>-mysql-operator-orc` to have the right credentials set.

[2020-01-07 12:47] vitobotta commented on #446
Hi @AMecea ! This is the describe: https://pastebin.com/raw/R5GF5pSY

I didn't set any password.  I restored again and get the same thing but with a lag of 52K seconds or so. I don't understand what happened, never had an issue before

[2020-01-07 12:49] vitobotta commented on #446
After restoring the master svc doesn't have any endpoints either

[2020-01-07 13:03] vitobotta commented on #446
Interesting... I restored as a single replica then I tried "Reset slave" on that replica. Orchestrator immediately showed the replica as "Master" instead of "Co master". Then I added another replica by editing the cluster and it's replicating from the master and Orchestrator seems OK now.

What happened? Why is the main replica as co master after restoring from backup? I am now going to delete and

[2020-01-07 13:11] vitobotta commented on #446
Yeah that trick seems to have worked with a more recent backup as well. I would appreciate an explanation of how this stuff works and what's the expected behaviour when cluster upgrade etc occur, since I am pretty new to this stuff. Thanks! :)

[2020-01-07 13:12] vitobotta commented on #446
Shit.. I spoke too soon :p The master service has no endpoints after that....

[2020-01-07 14:13] vitobotta commented on #446
So if I remove a pod and let recreate it, the endpoints get updated it seems...

However: I first restored the cluster with 2 replicas, then I tried to add a third replica but that one wouldn't start properly, complaining about duplicate primary keys. I tried restoring with three replicas from the beginning and I see this in the third replica:

[code]

I have been using this operator for a few mon

[2020-01-07 14:42] vitobotta commented on #446
I am basically unable to restore any backup.... I am trying with several backups from before the cluster upgrade and nothing works. This last attempt I've restored a backup from two days ago with a single replica. It's up and running / ready but no endpoints in the services and Orchestrator shows the single replica as "Co master" with a long lag and in the details panel I see this:

<img width="82

[2020-01-07 14:49] vitobotta commented on #446
There's something wrong with my backups. I tried creating a brand new cluster instead of restoring and all looks good.

[2020-01-07 14:53] AMecea commented on #446
I've never encountered this issue before, I will do more debugging. Version v0.3.5 should not be more different than v0.3.1 and I don't think that it's the root cause for this.

Let's move this converstation on slack.

[2020-01-10 03:42] majian159 opened #449 "create /etc/rclone.conf: Permission denied"
init container error.

message:
[code]

[2020-01-10 13:03] AMecea commented on #449
Hi @majian159, can you give me more details about the environment and what custom settings did you use and what version of the operator? Thank you!

[2020-01-13 02:30] majian159 commented on #449
mysql-operator version 0.3.1

my resources
[code]

![image](https://user-images.githubusercontent.com/10176784/72230354-b5192000-35ef-11ea-9eba-23c0f533a38c.png)

[2020-01-13 05:48] delgod commented on #449
Hi @majian159

Is it OpenShift or Kubernetes?
What Pod Security Policy do you have?

[2020-01-13 11:02] AMecea commented on #449
@majian159 Can you show me the sidecar(init container) image? It's very strange to get that error because starting with `v0.3` the `rclone.conf` is written to `/tmp/rclone.conf`, not `/etc`, see the [code](https://github.com/presslabs/mysql-operator/blob/fcbb5c30cd28d2be858f9601306eac71510baabf/hack/docker/sidecar-entrypoint.sh#L5), `/etc/rclone.conf` was used only in version `v0.2`.

Did you do a

[2020-01-14 07:44] majian159 commented on #449
I am using kubernetes v1.16.2.
I have not set any Pod Security Policy, Should be default?

@delgod

[2020-01-14 07:55] majian159 commented on #449
I reinstalled using helm and the problem disappeared, thank you very much.

@delgod
@AMecea

[2020-01-14 07:55] #449 closed

[2020-01-14 13:43] stefanandres opened #450 "Update helm chart to make it helm-3 compatible | move CRDs into own directory"
Currently the chart won't install CRDs because helm-3 does not hooks
[code]

https://helm.sh/docs/topics/v2_v3_migration/#overview-of-helm-3-changes

Because of this it will start and fail:
[code]

[code]

[2020-01-15 13:59] AMecea commented on #450
Hi @stefanandres, it's work in progress, see #441

[2020-01-15 14:14] #450 closed

[2020-01-15 20:43] komish commented on #244
Hi @AMecea!

I understand that Orchestrator is a stateful component and is primarily the motivation behind making use of the statefulset as the operator deployment methology. Could you give some examples of which statefulset behaviors are key for Orchestrator? Is it possible to decouple the Operator from the Orchestrator and have them communicate through some other method or do they need to live i

[2020-01-19 08:56] abh commented on #316
Just copying the instructions above into the backup.md docs would be a great help. :-)

[2020-01-20 08:03] Jacklli opened #451 "consulting: can this operator assign a certain slave pod as the HA failover candidate？"
consulting: can this operator assign a certain slave pod(rather than a random pod) as the HA failover candidate？

[2020-01-21 07:12] Jacklli commented on #413
@AMecea hello, may i ask that how could i change the mysql image? i tried, but there's no entry that can configure the image, either mysql-cluster yaml or mysql-operator yaml.

[2020-01-21 14:35] aberfeldy commented on #444
Seems to be an RBAC problem, if the operator is deployed in different namespace (e.g. default) than the cluster (eg. database). Both in the same namespace work fine

[2020-01-25 08:33] Jacklli commented on #451
It seems there're columns 'IsCandidate' and 'PromotionRule' related to candidate pod in pkg/orchestrator/instance.go, but not implemented yet.

// Careful. IsCandidate and PromotionRule are used together
        // and probably need to be merged. IsCandidate's value may
        // be picked up from daabase_candidate_instance's value when
        // reading an instance from the db.
        IsCandid

[2020-01-27 09:56] AMecea commented on #444
The cluster can't be registered into orchestrator, that seems to be the problem. Make sure that the orchestrator (operator) can access the pods. Do you have some custom configuration for k8s?

[2020-01-27 10:16] calind opened #454 "Setting nodeSelector merges with existing values"
When setting the nodeSelector on the MySQLCluster, the existing nodeSelector on StatefulSet get merged with it. The expected behavior is to copy the nodeSelector as-is to the StatefulSet.

[2020-01-27 15:13] aberfeldy commented on #444
Never mind. figured out that our Rancher had some network policies enabled which refused connections from other project.

[2020-01-27 15:13] #444 closed

[2020-01-28 15:57] eik3 opened #458 "Some operator logs are not JSON"
Thanks for the MySQL Operator, it's a joy to work with!

I'm trying to parse logs from the operator container with Filebeat to ship them into ELK. Parsing JSON lines works great, but some lines output by the operator are not in JSON, here are some examples:

[code]

Is this by design? It'd be awesome if all log lines were in JSON, that would make parsing them much easier.

[2020-01-30 09:57] eik3 opened #460 "Inconsistent operator JSON log output of the pod's details"
The operator logs show the details about the pod in three different formats:

1.
[code]

1.
[code]

1.
[code]

While it'd be nice to settle on a single log format for pod details, either 1 or 2 are fine.

The problem with 3 is that it's a JSON object while the other formats are plain strings. When Elasticsearch first receives log lines in format 1 or 2, it sets the field type to "text". After that

[2020-02-06 16:29] slipu120 opened #465 "Issue installing Mysql-Operator"
Hi,
I am getting below error while installing Mysql-Operator using helm.

➜  mysql-operator git:(master) ✗ helm install mysql-operator --name mysql-operator -n 2319727032
Error: pods is forbidden: User “ds:uid:2319727041” cannot list resource “pods” in API group “” in the namespace “kube-system”: RBAC: clusterrole.rbac.authorization.k8s.io “apc:storageclassreader” not found

Background:

In Our en

[2020-02-11 12:03] AMecea commented on #465
Hi @slipu120,

[code]
This log is normal, this usually says that the cluster is not discovered by the orchestrator, this may be due to a variety of reasons like orchestrator is unable to connect to that cluster or PODs are not yet running.

You have to find the root cause: why the orchestrator can't register the cluster.

[2020-02-11 12:07] AMecea commented on #460
Hi @eik3, it makes perfect sense! If you have time please feel free to open a PR :smile:

[2020-02-11 12:10] AMecea commented on #458
I'm glad you like the operator!

Those logs are from [`controller-runtime`](https://github.com/kubernetes-sigs/controller-runtime) package. I'm not sure how to change the format. Maybe updating the controller-runtime package will help.

[2020-02-11 12:14] AMecea commented on #451
Hi @Jacklli,

Not yet, but this can be a nice feature!

[2020-02-11 12:15] AMecea commented on #446
fixed by #447

[2020-02-11 12:15] #446 closed

[2020-02-11 12:20] AMecea commented on #438
Hi @andypeng2015,

If you still need something like this please open a PR with the necessary changes in the chart and I will include them into the next release.

[2020-02-11 21:52] #396 closed

[2020-02-12 02:16] Jacklli commented on #451
@AMecea How could i join the slack or some other tool so that can chat with you team? we should deeply drive into this operator, we are finance company. Thanks very much

[2020-02-12 12:41] milero commented on #451
hi @Jacklli ! We have a dedicated public Slack channel you can join over here: https://kubernetes.slack.com/messages/CEKQXFR0E/ and we'd be more than happy to get in touch as well at ping@presslabs.com for private topics.

[2020-02-13 14:24] AMecea commented on #413
This image can be changed per cluster. Here is an [example](https://github.com/presslabs/mysql-operator/blob/1169dc18e866541319ffad413e1c38c0401bcba3/examples/example-cluster.yaml#L11).

Hope this helps!

[2020-02-14 01:50] Jacklli commented on #413
@AMecea if i want to change Percona server to Oracle official mysql, what should i configure?
i checked the source code, it seems there's only percona server images can be chose. should i change the source code first before i configure the yaml file?

var (
        // MySQLDefaultVersion is the version for mysql that should be used
        MySQLDefaultVersion = semver.MustParse("5.7.26")
        /

[2020-02-14 13:55] yonimoses opened #473 "Permission Denied on /etc/orchestrator/orchestrator.conf.json ?"
HI

After install in Openshift 3.11 (as cluster-admin, using tiller as cluster-admin as well)
I'm getting
2020/02/14 13:48:40 unable to create open /etc/orchestrator/orchestrator.conf.json: permission denied

I'm using the latest chart version: 0.3.8 and without PSP enabled.
any idea on what should I set/change?

Thanks
Yoni
 

[2020-02-14 20:58] jgillis01 opened #474 "mysql secondary init issue"
When creating a mysql cluster with release version 0.3.8, it seems that the secondary init process cannot access port 8080 on the mysql-master service.  Checking that service, port 8080 is not being exposed.  This is causing the init container to fail since it cannot find an instance from which to clone data.  This seems to have been solved back in Jan with this commit: https://github.com/presslab

[2020-02-17 01:57] yoichiwo7 opened #475 "Unhealthy slave may be chosen as backup target"
When backup runs on following conditions, incorrect master will be chosen as a backup target.

- All slaves are unhealthy
- Current master is non-zero StatefulSet pod (ex. mycluster-mysql-1, mycluster-mysql-2)

If the incorrect master is chosen, it means the unhealthy slave is going to be a backup target. This will lead to broken or useless backup files which will cause huge problems on recovery p

[2020-02-17 12:06] AMecea commented on #229
Fixed by #342

[2020-02-17 12:09] AMecea commented on #413
No, you can choose the Oracle image of MySQL 5.7 but some features will not work, it's about [the initialization of MySQL in a separate init container,](https://github.com/presslabs/mysql-operator/issues/229#issuecomment-465202040) this is not a critical fix, maybe it won't affect you.

[2020-02-17 12:24] AMecea commented on #474
Hi @jgillis01,

Nice catch, this wasn't a problem so far (I think on older k8s versions), what version of k8s do you use? I'm working on the next release 4.0 which has some breaking changes but it will take at least a week because some e2e tests are failing. I can do a quick release 3.9 with this fix if you want it sooner.

Thank you for reporting this issue!

[2020-02-18 16:46] jgillis01 commented on #474
Hi, @AMecea,

Thank you for the quick response!  We are currently running k8s version `v1.15.3.`  I can track `master` for now, but I am concerned about any breaking changes that coming down the line.  A new version would be much appreciated!

[2020-02-19 09:12] bluven opened #479 "Failed to install mysql-operator with helm3"
[code]
 crds were not installed
[code]

[2020-02-19 14:17] AMecea commented on #479
Hi @bluven, The operator is not compatible with helm 3 yet, I'm working on this right now #468

[2020-02-19 14:19] AMecea commented on #475
Hi @yoichiwo7, thank you for pointing that out, it's indeed a bug. I will love to review and merge a PR that does that :smile:

[2020-02-19 14:45] AMecea commented on #473
Hi @yonimoses, I need more details about this one. I didn't test the operator in Openshft, yet, so please give me more details, what [Security Context Constraints](https://docs.okd.io/latest/admin_guide/manage_scc.html#enable-images-to-run-with-user-in-the-dockerfile) do you have set?

The orchestrator image should run with user `777` maybe Openshift runs it with a random user and that's the probl

[2020-02-20 05:51] Jacklli commented on #413
@AMecea thanks

[2020-02-20 05:58] Jacklli opened #480 "build the project error"
[root@k8smaster mysql-operator]# make
go generate ./pkg/... ./cmd/...
go fmt ./pkg/... ./cmd/...
go vet ./pkg/... ./cmd/...
go run vendor/sigs.k8s.io/controller-tools/cmd/controller-gen/main.go all
CRD manifests generated under '/root/go/src/github.com/presslabs/mysql-operator/config/crds'
RBAC manifests generated under '/root/go/src/github.com/presslabs/mysql-operator/config/rbac'
cd hack && ./ge

[2020-02-21 00:20] chasebolt opened #481 "mysqlcluster backups has dupe timestamp in name"
our backups in s3 have duplicated timestamps in the name. is this expected?
[code]

[code]

[2020-02-21 00:25] chasebolt commented on #481
i think the issue is here:
https://github.com/presslabs/mysql-operator/blob/7ef6e7757fbd1f09569361578042d9ee0e908421/pkg/controller/mysqlbackupcron/job_backup.go#L79
https://github.com/presslabs/mysql-operator/blob/347d197570be9ab8fff1c498dc808e47cf823c35/pkg/internal/mysqlbackup/mysqlbackup.go#L77

the backup name already has a timestamp added to it. when the url is generated it adds an additiona

[2020-02-21 17:15] jgillis01 commented on #474
@AMecea,

After further investigation, it seems that the issue has to do with the `imagePullPolicy` on the operator statefulset.  It is set to `IfNotPresent.`  However, the images used are referencing the `latest` tag.  This is preventing the newest images from being pulled on subsequent deployments of the operator (The new master commits contain the changes to add port 8080 to the master service)

[2020-02-21 17:15] #474 closed

[2020-02-21 23:12] chasebolt opened #482 "Q: orchestrator failover defaults"
I am interested to know why these two settings in the mysql-cluster chart are not set to the defaults that orchestrator recommends. Currently killing the master mysql pod (db-0) promotes the slave (db-1) but then db-0 does not rejoin back correctly and is unable to be fixed. Setting `ApplyMySQLPromotionAfterMasterFailover: true` corrects this issue. I am sure setting to `false` is intended, just t

[2020-02-25 19:05] AMecea commented on #480
Try to run `make dependencies-local`. This should fetch and install all the tooling that is needed in order to build the project.

[2020-02-25 19:09] #481 closed

[2020-02-25 19:47] chasebolt commented on #482
the comment in the chart reflects the orchestrator defaults. maybe it is flipped by accident?

/cc @AMecea @rstefan1

[2020-02-26 03:33] vishnukanth-chittayala opened #485 "ERROR 1045 (28000): Access denied for user 'lsn'@'localhost' (using password: NO)"
please help me solve this

ERROR 1045 (28000): Access denied for user '-p'@'localhost' (using password: NO)

[2020-02-27 09:25] AMecea commented on #482
Hi @chasebolt,

This is what we intended, except the comment. We chose this configuration to let the operator mark the new master as readable. For example, if you set the cluster `read_only: true` then in case of a failover orchestrator will make the new master writable.

By setting `ApplyMySQLPromotionAfterMasterFailover: false` it won't issue a `reset slave all` so the new master still has set a

[2020-02-27 09:32] AMecea commented on #485
Hi @vishnukanth-chittayala

Where do you get this error?

[2020-02-27 10:24] vishnukanth-chittayala commented on #485
In command prompt I got while trying to connect to MySQL for my project I
did my project in spring boot
It is not allowing me to connect to database
And not allowing me to connect me as root admin

On Thu, Feb 27, 2020, 3:03 PM Flavius <notifications@github.com> wrote:

[2020-02-27 10:51] AMecea commented on #485
You have to let the operator create a user for you. You can do that by filling the secret with the `USER` `PASSWORD` and `DATABASE` keys as in this [example](https://github.com/presslabs/mysql-operator/blob/09db565ddb40d3a1a0e84c2753a4eeb42868a562/examples/example-cluster-secret.yaml#L11), make sure to be base64 encoded. Also, you have to create a new cluster because once the cluster is initialize

[2020-02-27 11:17] vishnukanth-chittayala commented on #485
I tried creating new user and created a database it is running but still
not giving me permission saying access denied
Same error with finally saying yes

On Thu, Feb 27, 2020, 4:21 PM Flavius <notifications@github.com> wrote:

[2020-02-27 13:46] AMecea commented on #485
The error says that you are not using a password. Not sure how can I help you.
Try to list MySQL users by running:
[code]

[2020-02-27 15:20] vishnukanth-chittayala commented on #485
I will try what you said if did not get it then I will let you know

On Thu, Feb 27, 2020, 7:16 PM Flavius <notifications@github.com> wrote:

[2020-02-28 11:29] #475 closed

[2020-02-28 13:41] #437 closed

[2020-02-28 14:59] #479 closed

[2020-02-28 15:31] AMecea commented on #433
Addressed by #468 and will be available in version `0.4.0`

[2020-02-28 15:31] #433 closed

[2020-03-01 05:15] abh opened #490 "Release notes?"
The mysql-operator is one of the highest maintenance operators I have in my cluster, because each update involves digging through git logs to have any sense of what might have changed.

It'd be really great to have release notes for each release, a CHANGES.md file or similar.

[2020-03-02 09:19] #454 closed

[2020-03-02 13:18] sbakiu commented on #479
@AMecea I am having an issue with helm v3.
I receive: `no matches for kind "MysqlCluster" in version "mysql.presslabs.org/v1alpha1"` while following the instructions for:

- https://github.com/presslabs/mysql-operator/blob/master/charts/mysql-operator/README.md
- https://www.presslabs.com/docs/mysql-operator/

Any suggestion what might be wrong? Maybe the publishing to https://github.com/presslabs

[2020-03-02 18:52] egahmad opened #491 "error: unable to recognize "example-cluster.yaml": no matches for kind "MysqlCluster" in version "mysql.presslabs.org/v1alpha1""
I'm getting this error following the basic tutorial with no extra customizations.

[2020-03-02 21:59] eleaner opened #492 "[question] - cannot login to the cluster"
I mapped port 3306 with:
`kubectl port-forward  svc/zabbix-db-mysql-master 3306:3306
`
then I do
`mysql -h 127.0.0.1 -P 3306 -uroot -p$(kubectl get secret zabbix-db-secret -o jsonpath="{.data.ROOT_PASSWORD}" | base64 --decode)`
ends with
`ERROR 1045 (28000): Access denied for user 'root'@'127.0.0.1' (using password: YES)`

I also tried to run mysql client from inside of the pod with the same error

[2020-03-02 22:00] eleaner opened #493 "[question] - my PV gets delieted with the cluster pods"
I configured the cluster to use storage class for persistence
but every time I do
`kubectl delete -f cluster.yaml`
volumes will get removed as per Class definition
even if I force PV to "Retain", the next `apply` will anyway create and attach to the cluster a new one.
Is it supposed to work like that?

[2020-03-03 02:40] danieltanyouzu commented on #491
Same issue reported on Ubuntu 18.04 on k8s 1.17.3 following the steps below.
https://www.presslabs.com/docs/mysql-operator/

[2020-03-03 17:07] abessifi commented on #479
@AMecea thanks for your effort on making HELM 3 supported.
@sbakiu according to [this](https://github.com/presslabs/mysql-operator/issues/433#issuecomment-592564796), the fix seems to be available on `v0.4.0`.

[2020-03-03 18:15] chasebolt opened #494 "chart: mysql-cluster not published in CI pipeline"
looks like only the mysql-operator is setup for the CI pipeline. currently master mysql-cluster chart is ahead of helm.

[2020-03-04 13:18] eleaner commented on #493
answered by #423
closing

[2020-03-04 13:18] #493 closed

[2020-03-05 00:29] chasebolt opened #495 "[feature] add custom sql to init_file"
I would like to be able to add additional queries to run at the start of mysql. currently there is already an init_file for `operator-init.sql`, I would like the ability to append into this file using a value such as
[code]

[2020-03-12 06:55] Jacklli commented on #413
@AMecea could you please have a look?

after change the mysql image from percona to oracle mysql image (5.7.27), there's an error occured:
when connecting to mysql through 'my-cluster-mysql-master ', ssl error returned, while through ' my-cluster-mysql-replicas', it succeeded.

[root@k8smaster examples]# kubectl get svc
NAME                        TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)

[2020-03-18 03:13] mikosa opened #497 "operator fails to create user"
I installed a db using simplest setup:

[code]

[code]

After applying the yaml files, the 2 copies of database are up.

Problem: Cant login using the username and password mentioned in secret

log file of mysql container:
[code]

[2020-03-19 08:32] digitalcraft commented on #491
/any risk of someone replying to this in a reasonable timeframe?

[2020-03-19 08:40] digitalcraft commented on #491
if you make a new branch, call it coronavirus. `rm -rf *`, then merge it into master, it should fix all the problems.

[2020-03-19 14:03] imriss opened #499 "Slave I/O for Channel: mysql-operator-0.3.5"
Getting these errors in one of the clusters. Mysql Operator is on version 0.3.5
[code]

The error was not there at the beginning of deploying of the cluster. The mysql pods always show 4/4. After deleting mysql-0, the error disappeared.

Thanks

[2020-03-20 10:30] AMecea commented on #497
Hi @mikosa, thanks for reporting this issue!

I need a little more details. Can you please add the output of the `mysql-init-only:` container, for the first run?

Thank you!

[2020-03-20 11:37] AMecea commented on #491
Hi @egahmad and @digitalcraft. The CRDs are not installed. Please make sure that when you've installed the operator the CRDs get installed too.

Or install them manually by running:
[code]

May I ask how you've installed the operator?

[2020-03-20 12:13] AMecea commented on #490
I will do. I will create a `Changelog.md` file in the project's root directory. Sorry for that, we planned to use the GitHub releases as changelog but when I should fill that usually didn't have the time.

[2020-03-21 12:41] calind opened #501 "Innodb buffer pool size calculation is wrong"
For 3Gi of requested memory, the buffer pool size should be 1536M (1.5Gi). Right now it is 1Gi due to rounding.
https://github.com/presslabs/mysql-operator/blob/6eb89f8d0cfd160424bf762d61459b9891b64ce2/pkg/internal/mysqlcluster/defaults.go#L167-L168

[2020-03-21 12:49] calind opened #502 "Consider changing default InnoDB buffer pool sizes"
The current formulas, tend to waste memory, so I propose to update with the following:

- `= < 512Gi`  - don't set
- `=<1Gi` - (Memory - 256Mi) * 0.5
- `=<4Gi` - (Memory - 256Mi) * 0.75
- `> 4Gi` - (Memory - 512Mi) * 0.8

It should also take into account `innodb_buffer_pool_instances`. https://dba.stackexchange.com/questions/62411/is-there-a-rule-of-thumb-regarding-the-size-and-number-of-a-buffer-

[2020-03-21 21:07] thordin9 commented on #491
@egahmad @digitalcraft @AMecea i am having the same problem, i used helm 3 to install :

**manifest_sorter.go:175: info: skipping unknown hook: "crd-install"
manifest_sorter.go:175: info: skipping unknown hook: "crd-install"**
NAME: mysql-operator
LAST DEPLOYED: Sat Mar 21 23:03:22 2020
NAMESPACE: default
STATUS: deployed
REVISION: 1
TEST SUITE: None
NOTES:
You can create a new cluster by issuing:

[2020-03-23 09:48] calind opened #503 "Allow injection volume and volumeMounts"
[code]

[2020-03-23 09:49] calind opened #504 "Allow adding custom initContainers and containers"
Also, if you allow this, consider removing the default exporter and let the user enable it using sidecars.

[2020-03-23 10:43] #495 closed

[2020-03-23 15:19] #434 closed

[2020-03-24 09:27] calind opened #508 "Consider lowering resource requests for sidecars or make them configurable"

[2020-03-24 11:37] calind opened #509 "Bump MySQL version"
Currently, the default MySQL version is 5.7.26. The latest release right now is 5.7.29.

[2020-03-25 09:36] xdimedrolx commented on #491
I have the same problem when using helm3

[2020-03-25 13:23] #503 closed

[2020-03-25 13:23] #504 closed

[2020-03-25 19:09] #501 closed

[2020-03-25 19:09] #502 closed

[2020-03-26 15:57] AMecea commented on #509
Doing so backup restoring with `xtrabackup` fails. MySQL server fails to start with the following error:
[code]

I will revert the default version of MySQL to `5.7.24`.

[2020-03-26 16:00] AMecea commented on #509
Using MySQL `5.7.24` those errors keep showing but are resolved by MySQL:

[code]

[2020-03-26 21:53] gnoguchi opened #515 "Cluster never gets Ready"
Hello!

I'm traying to spin up a cluster but It never gets ready.

I can't identify why. Can you help me?

 Some information:

[code]

[code]

[code]

[2020-03-27 11:41] AMecea commented on #490
this is addressed in #505

[2020-03-27 11:41] #490 closed

[2020-03-27 11:59] AMecea commented on #515
Hi @gnoguchi !

I need more details. Please share with me the logs from mysql container:
[code]

I suspect that node `contract-api-cluster-mysql-0.mysql.transaction` is misconfigured, maybe the orchestrator user was not created.

Thank you for reporting this and helping to debug!
Best regards!

[2020-03-27 12:15] calind opened #516 "Move pt-heartbeat into the sidecar binary"

[2020-03-27 12:24] #508 closed

[2020-03-27 15:02] AMecea commented on #494
I've released the version `v0.4.0-rc.1` now the charts should be published under the new version.

[2020-03-27 15:02] #494 closed

[2020-03-27 15:41] gnoguchi commented on #515
Hello @AMecea ! Thanks for your support!

[code]

[2020-03-27 19:51] abh commented on #490
awesome, thank you @AMecea!  It was great that you went back some releases, too!

[2020-04-05 05:39] JasperHot opened #519 "[Quetion] Do we support to setup multi-master?"
I have deployed 2 replicas via presslabs/mysql-operator, one is master and another is read-only. Do we support multi-master? Thanks.

[2020-04-06 05:32] delgod commented on #519
Hi @JasperHot
Presslabs Operator designed for async replication, it has its own benefits like write performance.
If you need the synchronous replication (master-master), you can consider using [Oracle Operator](https://github.com/oracle/mysql-operator) or [Percona Operator](https://github.com/percona/percona-xtradb-cluster-operator).

[2020-04-07 22:55] gnoguchi commented on #515
Hey guys! Any news?

Thanks!

[2020-04-08 17:02] imriss commented on #416
I have a similar issue with the readiness probe. The workaround has been to delete the mysql-operator pod. Any advise? The mysql operator is on 0.3.8. Thanks

[2020-04-11 10:32] hachh commented on #10
Hello,
Is it still planed ? Because 0.4 rc released 15 days ago and this epic was planed for 0.3 but not implemented yet.

[2020-04-15 12:37] AMecea opened #523 "Add CRDs and operators for MySQLUser and MySQLDatabase"
MySQLDatabase types example:
[code]

MySQLUser example:
[code]

plus some extra configs like `max_connections`, more info in [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/user-resources.html)

[2020-04-17 10:22] mak-454 commented on #515
Hi, am observing similar issue, cluster status is stuck in False. There was a reelection and the original leader is stuck in not replicating stage. Is there a way to recover from the situation without loosing data? Tried rebooting mysql pods, operator pod but didnt help. Appreciate any help/fix.
Below is the dump of various logs and commands,

Using - operator version 0.3.9
-----------------------

[2020-04-22 14:59] AMecea commented on #523
In testing on `presslabs-0.3` branch: #527

[2020-04-24 06:52] umnya commented on #491
any updates for this? I have the same problem.

[2020-04-24 22:10] abh opened #528 "0.4.0-rc.1 crash"
I upgraded to 0.4.0-rc.1 because the better "find a master to replicate from" logic sounded like it'd solve problems I've had in the past with the operator.  It was running for a little while before crashing with the message below.  We were draining and restarting nodes in the cluster while it happened.

[code]

[2020-04-25 12:41] mhamrah commented on #479
When will https://presslabs.github.io/charts be bumped to 0.4.0, and is there a way I can access it now?

Thanks

[2020-04-25 12:46] mhamrah commented on #479
nvm, used --release v0.4.0-rc.1  as a flag.

[2020-04-27 03:03] Jacklli opened #529 "upgrading operator issue"
When upgraded operator with helm/charts, the mysql cluster rolling update come along, and failed.

Actually,  mysql cluster should not rolling update after operator upgrading.

Could you please help have a look at it ?

[2020-05-02 06:48] abh commented on #431
This is still happening. I don't know if it's related, but it seems to happen much more since upgrading to the 0.4 release candidate.  According to the orchestrator everything is healthy, but the operator sets healthy=no on the master (and doesn't tell the operator to make another node the master).

Is this related to something not cleaned up in the 0.3 upgrade (see above)?

<img width="697" alt="

[2020-05-06 16:33] cai2yy opened #531 "can I specify image of mysqld-exporter and so on?"
I try to deploy mysql-operator in an off-line enviroment, and prom/mysqld-exporter:v0.11.0 image pull failed.
Where can I find the field to specify image of exporte?

[2020-05-08 14:31] #214 closed

[2020-05-12 13:58] radektheloner opened #534 "orchestrator.topologyUser=sys_operator results in 500 Internal Server Error: Unable to determine cluster name"
Hello, please let my report you an issue that I have run into:

Reproducer:
1. Deploy the controller with `orchestrator.topologyUser` set to `sys_operator`
2. Deploy a cluster

Expected result:
The cluster is up and running

Actual result:
The cluster (the `mysql` container) reports following error:

The operator reports following warning:

The orchestrator reports:

Versions:
Controller 0.4.0-rc.

[2020-05-13 14:43] weistonedawei opened #537 "Is it possible to configure the name of headless service mysql?"
Facing an issue with install another chart into cluster.  That chart also installs a headless svc mysql, which conflicts with mysql service installed by mysql operator.

[2020-05-18 17:23] rgershkovich opened #540 "Allow different Affinity / NodeSelector / Tolerations for backup jobs"
First of all, thank you for the hard work on the operator.

We encountered a situation I believe may not be unique to us. Some of the databases we run are very limited in compute resources. Unfortunately, with the current setup: https://github.com/presslabs/mysql-operator/blob/818452a2b1d4e8bb05521f71997d332bee1709fa/pkg/controller/mysqlbackup/internal/syncer/job.go#L141 backup pods are placed on

[2020-05-19 22:20] #499 closed

[2020-05-21 04:37] gouthamk10 opened #542 "unable to load the"
Hello.
can somebody please help me installing mysl-operator.
i am getting this below error while installing mysql-operator from presslabs.

[root@k8s-master examples]# kubectl apply -f example-cluster.yaml
error: unable to recognize "example-cluster.yaml": no matches for kind "MysqlCluster" in version "mysql.presslabs.org/v1alpha1"

my yaml file defined in server.
apiVersion: mysql.presslabs.org/v

[2020-05-21 16:04] chasebolt opened #543 "sql_mode not the default for mysql"
I ran into an issue with the operator setting a default `sql_mode` that contains `NO_AUTO_VALUE_ON_ZERO`. This mode is not a default for mysql 5.7 or 8.0. Is this intentionally set? If so we should document it in the readme or not set sql_mode so it falls back to the default of the mysql version deployed.

https://github.com/presslabs/mysql-operator/blob/d800e2483dcb018c15744782453101fced2c0a33/pk

[2020-05-24 23:02] olakunleoladimeji commented on #542
Perhaps you forgot to install the MysqlCluster CRD. In this case,

[code]

and re-install your YAML.

[2020-05-29 05:32] gouthamk10 commented on #542
Hi olakunleoladimeji.
Thanks for your help.i can install now.

[2020-05-30 12:18] AMecea commented on #537
Hi @weistonedawei,

Now it is not possible, but this will be a nice feature. We can add a command-line argument to the operator to set the service name this is the simplest solution or we can add a headless service per cluster.
If you would like to open a PR with this feature I will be glad to review and merge it.

Thank you!

[2020-05-30 12:54] AMecea commented on #534
Hi @radektheloner, thank you for pointing it out! I will correct the README.

[2020-05-30 12:58] AMecea commented on #531
Yes, there is a command-line argument that lets you specify the metrics exporter image, [`--metrics-exporter-image`](https://github.com/presslabs/mysql-operator/blob/c0ac4b6918c145eb115ed90ea31c4c6cac089e32/pkg/options/options.go#L119)

Just add in your `values.yaml` the following:
[code]

[2020-05-30 13:09] AMecea commented on #529
Hi @Jacklli, this is indeed an issue that we encountered in the last few months too.

From what version to what version did you upgrade the operator?

We will try to keep it as follows, for upgrading the operator for:
 * PATCH versions (e.g. `v0.3.2` -> `v0.3.3` or `v0.3.4`): no restart of the MySQL cluster
 * MINOR versions (e.g. `v0.3.2` -> `v0.4.0`): the MySQL cluster will get restarted
 * MAJO

[2020-06-11 11:53] anikievev opened #546 "s3 backup fails when its size more than 5 GB"
Hello
I use mysql-operator v0.4.0-rc.1
I tried to request s3 backup for huge db (100gb backup file size) but it failed with error "final move failed"
My investigation shows that if s3 backup is more than 5GB it can not be renamed from .gz.tmp to .gz it caused failing backup
I found related rclone issue:
[https://github.com/rclone/rclone/issues/3682
](https://github.com/rclone/rclone/issues/3682
)

[2020-06-17 13:10] #528 closed

[2020-06-17 15:29] AMecea commented on #546
Hi @anikievev, thank you for this bug report.

Yes, definitely we should update Rclone.  We already released version `0.4.0` including #520.

Please feel free to open a PR with the rclone version update, if you already tried that. :smile:

[2020-06-19 08:39] #523 closed

[2020-06-22 06:25] Erically opened #548 "backup support object storage of ali oss"

[2020-06-22 12:05] D1abloRUS opened #549 "operator does not patch pod"
Hello! After creating a cluster, the operator cannot patch under to hang new labels

kubernetes: 1.17.2

[code]

[2020-06-30 13:22] AMecea commented on #548
Hi @Erically, thank you for your suggestion! I see that [Rclone already supports Ali OSS](https://rclone.org/s3/#alibaba-oss), so the implementation should be straight forward. Please feel free to open a PR with this feature I will be happy to review and merge it.

[2020-06-30 16:46] stankevich commented on #540
Thanks for the idea, @rgershkovich! https://github.com/presslabs/mysql-operator/pull/552 should take care of this. Let me know if that's what you had in mind.

[2020-07-02 11:54] Arabus commented on #491
You need to use the 0.4.0 release of the operator chart for this. otherwise the chart does not contain the crds directory. the templated CRDs get ignored by helm3 because of the unknown hook annotation

[2020-07-02 12:03] Arabus commented on #491
Correction, the crds in the 0.4.0 version still contain the hooks and thus the CRDs are still ignored

[2020-07-02 12:07] Arabus commented on #491
It appears this is intentional:
[code]
From https://helm.sh/blog/helm-v3-beta/#notable-changes-since-helm-v2

[2020-07-03 12:27] AMecea commented on #491
Hi @Arabus, It's not clear to me what you are saying:

[The hook](https://github.com/presslabs/mysql-operator/blob/f83d986f6f89c99fa31e33b0608a19bd0e730c7a/charts/mysql-operator/crds/mysql_v1alpha1_mysqlcluster.yaml#L9) is still there because we want to maintain backward compatibility with helm v2. But, version 0.4.0 works fine with helm3, the CRDs are installed, as far as I tested.

@thordin9 do

[2020-07-03 12:31] AMecea commented on #549
Hi @D1abloRUS, I will take a look at it. It's possible that this is related to the old k8s client that we are using.

I will do a dependency update soon.

Thank you for your patience!

[2020-07-03 13:40] #540 closed

[2020-07-06 07:03] weiqiang333 opened #558 "error for install presslabs/mysql-operator"
## execute：helm install presslabs/mysql-operator --name mysql-operator
- information：
[code]
Thank you

[2020-07-06 10:04] calind commented on #543
The defaults were taken from https://github.com/presslabs/mysql-operator/issues/1. In retrospect, I think it's safe to remove the `NO_AUTO_VALUE_ON_ZERO`.

[2020-07-08 02:12] jtl0813 opened #561 "backup support aliyun oss?"
hi,cluster-backup support aliyun oss?

[2020-07-13 03:55] jianhaiqing opened #562 "OnDelete updateStrategy of mysql statefulset"
I’m wondering whether it would be better if the updateStrategy OnDelete of statefulset is used. If that, we can’t control the scale-down process, graceful-master-takeover before delete the pod if it’s master.
so far, RollingUpdate updateStrategy is used.

[2020-07-13 10:06] AMecea commented on #561
Hi @jtl0813 this is duplicate of #548.
After some digging into this matter, I think this is possible without any changes. I will update #548 with more details.

[2020-07-13 10:06] #561 closed

[2020-07-13 10:29] AMecea commented on #548
I think that this is possible without any changes. I just need testing.

Allyun OSS is S3 compatible so you just have to define your [backup secret](https://github.com/presslabs/mysql-operator/blob/master/examples/example-backup-secret.yaml) as describe in [Rclone documentation](https://rclone.org/s3/#alibaba-oss) and the coniguration template can be found [here](https://github.com/presslabs/mysql

[2020-07-13 10:38] #543 closed

[2020-07-13 11:00] AMecea commented on #562
Hi @jianhaiqing, yes this a wanted feature :smile: but we didn't have the time to test and implement it. (please see also #404 )

I will love to see this implemented. Let's discuss this. what are your ideas about this, how do you see it implemented?

[2020-07-13 18:41] Arabus commented on #491
Sorry for the confusion, installing the chart starting from v4.0.0 works fine with helmV3. I had the assumption that helmV3 ignored resources with unknown hooks but it appears it simply warns about ignoring the hooks.

It is unfortunate that one needs to specify an additional flag when running helm install --dry-run and helm template to actually see CRDs it would install (mssing those I thought th

[2020-07-14 00:31] jianhaiqing commented on #562
There're the solutions I'm thinking over.
S-1. Add preStop in mysql container: preStop will find out whether the current pod is master or not, if that failover will be taken
S-2: If the replicas of statefulset is bigger than that of mysqlcluster, scale-downing is in-progress, operator will check if the max-pod is master or not, if that failover will be taken before setting the size of statefulset.

[2020-07-14 00:37] jianhaiqing commented on #562
Another feature should be considered, if the resource of statefulset is changed, each pod should be deleted one by one, so the request resource of each pod can take effect after its reconstruction.

[2020-07-14 23:56] jianhaiqing opened #564 "writeStatusValue shouldn't generate gtid event?"
https://github.com/presslabs/mysql-operator/blob/1b0191e01d79e4de97a8bf79462f8ade37cb26a2/pkg/controller/node/sql.go#L265

node_controller will MarkConfigurationDone by set configured="1" after mysql is starting, but it will generate a individual gtid of each mysql node. These gtid event (binlog) might be purged after expire_logs_days, then if a failover happens, slaves probably can't get gtid eve

[2020-07-14 23:59] jianhaiqing commented on #537
headless service name is generated from cluster-name just like Sprintf("%s-mysql", clustername)  ?

[2020-07-15 00:03] jianhaiqing commented on #564
it's added

[2020-07-15 00:03] #564 closed

[2020-07-15 06:37] DeamonMV opened #565 "Update of mysql cluster lead to problem with replication."

[2020-07-15 07:25] AMecea commented on #537
No, the headless service is hardcoded to `mysql` in order to have the hostname for each node that follows `<cluster-name>-mysql-<index>.mysql.<namespace>` pattern, and to keep it short.

[2020-07-15 09:46] jianhaiqing commented on #537
I think it would be better if it's generated by cluster-name, then  more than one mysql clusters can be run in one namespace. As far as I know, the length of report_host like "<cluster-name>-mysql-<index>.mysql.<namespace>"  should be less than 62(or so).  It's not that easy to reach the limit;
refer to https://github.com/siddontang/go-mysql/issues/388

[2020-07-15 10:11] sulimov commented on #165
Big thanks!
It came in handy for Docker.
There was the same error. Instead of `image: 'percona: 5.6'` I wrote `image:' percona: 5.6-stretch'` and I got out of this deadlock.

[2020-07-15 15:26] AMecea commented on #562
Those solutions sound good but there are some related issues that need to be addressed. This feature can become very complicated so let's split it into two, as you already did by dividing into two solutions.

First, using **preStop hook** (S-1) it's a good idea and I think that this is not optional (and not mutually exclusive to S-2) and we should start from here. A possible implementation can be:

[2020-07-15 15:51] AMecea commented on #565
Hi @DeamonMV, thank you for filling this issue.

Here are some tips that may help in the future:

When a pod is deleted the PVC is not removed. So in order to reinitialize a node, you can scale it down to 1 replica and then back. By doing this it will delete the PVC for replica and it will reinitialize from node 0.

Also, can you tell me which was the master before the update? Because it seems tha

[2020-07-15 17:28] DeamonMV commented on #565
Hello @AMecea

Sorry, but I can't tell for sure, but I remember that cluster-com-mysql-0 was a master.

Yes, I just deleted a pod, and do not touched the amount of replicas of mysql cluster.

Is here exist a way to do such reinitialization of mysql node without deleting a PVC? just to be sure that here no any other way.

[2020-07-15 23:10] jianhaiqing commented on #562
I agree with u, these two solutions are not exclusive.
"create an endpoint in sidecar container which will listen for pre stop event", i don't know how to implement the feature. Can u elaborate it?
As far as I'm concerned, i would add an shell script as configmap to the preStop of MySQL container.
The script will check if the current pod is master or not, if asserted, api graceful-takeover-auto of

[2020-07-17 09:27] jianhaiqing commented on #454
how about Affinity, why not work the same as nodeSelector, they are both used for scheduling.

[2020-07-18 03:19] jianhaiqing commented on #562
@AMecea
I have implement OnDeleteStatefulSetStrategyType, it looks like the follow code.
Can you help me review the solution?
[code]

[2020-07-19 12:49] jianhaiqing commented on #562
One more thing, orc-helper, Since we can update resource , select-labels , and do graceful-master-takeover-auto before kill the pod; The question is, do we need to kill the old connections of old-master in orc-helper, which is used in orchestrator hook.

[2020-07-21 07:26] mhumpula commented on #562
Just a quick idea: what about using pod finalizer to trigger clean failover in orchestrator? Then the statefulset controller can restart pods as it likes. I'm currently working on readiness gate for pods to signalize that freshly started replica is not only MySQL ready, but it actually caught up with master.

[2020-07-22 15:07] jianhaiqing opened #566 "markReadOnlyNodesInOrc broke gracefulfailover process"
https://github.com/presslabs/mysql-operator/blob/28ef010d9c7e6acc2518b78ef44ae220040818f0/pkg/controller/orchestrator/orchestrator_reconcile.go#L515

As you can see the following logs from orchestrator, the writable function broke the gracefulfailover process, since master is set read_only as true, and wait for CandidateReplica catch up with given binlog-position.
Can we check if cluster is ready

[2020-07-22 16:21] AMecea commented on #562
@mhumpula this is not possible because kubelet will kill containers even if they have finalizers set, see https://github.com/kubernetes/kubernetes/issues/73584

@jianhaiqing, the logic is good but I think will be better to implement this in a different controller. We already have [a node controller](https://github.com/presslabs/mysql-operator/blob/master/pkg/controller/node/node_controller.go#L169

[2020-07-22 16:38] AMecea commented on #566
Hi @jianhaiqing, thank you for investigating this and reporting it!

Cluster condition `FailoverInProgress` which is set using [the Orchestrator pre failover hook](https://github.com/presslabs/mysql-operator/blob/master/charts/mysql-operator/values.yaml#L177) should prevent this. Maybe the cluster is not updated in time during reconciliation, we need to investigate this a little bit more.

[2020-07-23 00:37] jianhaiqing commented on #566
As you know failover process of orchestrator is very fast. reconcile process and failover process are totally isolated, so you can't guarantee the executing sequence.
What's more, I think there's no need to set writable and readable for master and replica repeatedly, since cluster is ready.
[code]

[2020-07-23 00:59] jianhaiqing commented on #562
I have tested the current implementation a lot, it works good. I plan to deploy the current version in our test environment. We can do  refactor in next stage.
Can I merge the current implementation, then do refactoring ?

There are two questions i'm not that clear.
1. About preStop, I use a configmap to add a shell in MySQL container as preStop.  what do you mean by "create an endpoint in sidecar

[2020-07-23 03:37] jianhaiqing commented on #566
let me elaborate the executing sequence of these two process: orchestrator and orchestrator controller
1. orchestrator failover: topology before failover
master-A
 + replica-B
 + replica-C

1. orchestrator will pick B  as candidate master according to the binlog executed of B and C
2. move C  below B
3. set A  read_only, and read binlog-position of A  named as  currentPosition，
4. wait for B to re

[2020-07-23 13:21] AMecea commented on #562
Yes, please open a PR. My question is how this approach is better than the default update strategy (statefulset rolling update) with preStop hook because it's almost the same?

Your idea of mounting the script it's ok, no need to add an endpoint on the sidecar container. What I suggest is good in the case when the script file is too complicated.

[2020-07-23 14:36] aisensiy opened #567 "Is this necessary to move from tmp to real name?"
https://github.com/presslabs/mysql-operator/blob/28ef010d9c7e6acc2518b78ef44ae220040818f0/pkg/sidecar/apptakebackup.go#L85

It seems that the rclone upload itself will show if the clone is success or not, is this really necessary to rename the target name after make sure it is success?

I found that some so called s3 compatible object storage service is not compatible enough to support `rename` ap

[2020-07-23 16:53] #534 closed

[2020-07-24 01:21] jianhaiqing commented on #562
Out of curiosity, how could you implement an endpoint on the sidecar container to listen the preStop event, I'm not that familiar with k8s. I really appreciate if you can explain the implementation.

With OnDelete update strategy, you can delete  all pods in order, you can select all the replicas, and upgrade all the replicas and upgrade the master at last.
And with RollingUpdate strategy, and the

[2020-07-24 09:45] jianhaiqing opened #568 "map is pointer, oldLabels and out.ObjectMeta.Labels always the same"
https://github.com/presslabs/mysql-operator/blob/fc8e06df9009a361114ae417a089228ebb55a5d6/pkg/controller/mysqlcluster/internal/syncer/pod.go#L101

[code]

I will open a PR later on.

[2020-07-24 13:28] AMecea commented on #567
Hi @aisensiy, This is a good safety guard for preventing us from ending up with corrupted backups. May I know what storage providers don't support `rename`?

[2020-07-24 15:16] aisensiy commented on #567
Not so much providers have this problem... 😢  Unfortunately I am using [ucloud](https://ucloud.cn] which currently has this issue. I will contact with them and right now I will close this issue.

[2020-07-24 15:16] #567 closed

[2020-07-24 17:14] AMecea commented on #562
The sidecar container starts [an HTTP server](https://github.com/presslabs/mysql-operator/blob/master/pkg/sidecar/server.go#L54) which expose backups. We can extend this server to have an endpoint that can be called from `mysql` container using [HTTPGetAction](https://godoc.org/k8s.io/api/core/v1#HTTPGetAction) which will the same thing as the script.

I agree with you, but what I want to highligh

[2020-07-24 17:38] abg commented on #509
Here's a relevant MySQL bug:  https://bugs.mysql.com/bug.php?id=100283

[2020-07-24 17:55] AMecea commented on #566
A solution can be to let the orchestrator set nodes in read-only as @dougfales proposes in #522. But then we can't make use of [the read-only mode](https://github.com/presslabs/mysql-operator/blob/master/pkg/apis/mysql/v1alpha1/mysqlcluster_types.go#L127) properly, because, in case of a failover the cluster will end up being writable and this is what we wanted to avoid making operator setting the

[2020-07-25 05:47] jianhaiqing opened #573 "The pod can't rejoin the mysql after failover happens."
https://github.com/presslabs/mysql-operator/blob/4d88be22e4b30c65c1a0fd60794533cbd4fe50e7/pkg/controller/orchestrator/orchestrator_controller.go#L231

If failover happened, and mysqlcluster stayed in failover-inprocess state. And orchestrator controller can't  be executed since there is no mysql cluster update.

So why not  add  timer to orchestrator controller, such as described below ?
[code]

[2020-07-25 05:52] jianhaiqing opened #574 "where is the consumer of chSource"
https://github.com/presslabs/mysql-operator/blob/4d88be22e4b30c65c1a0fd60794533cbd4fe50e7/pkg/controller/orchestrator/orchestrator_controller.go#L132

It's hard to figure out why we need the event source channel here ? Is there any tips to explain the code ? I really appreciate your explanation.

[2020-07-25 09:50] asoltesz opened #575 "More refined retention policy for backups"
The current backup retention options seem to be very limited (though I am new to this operator, I apologize if I missed something).

One option the retain all of the older backups which results in huge storage space wasting and manual backup deletions.

The other option to delete all backups when a new backup arrives. This will not allow keeping any of the older backups that could protect against

[2020-07-26 19:22] olakunleoladimeji opened #577 "Error initializing cleanup job"
The error is quite descriptive, the labels in the cleanup job could go past 63 characters in some cases, requiring manual cleanup.

Kubernetes Version: 1.15.1

Operator Version: 0.4.0

OS: Ubuntu Linux

`
{"severity":"ERROR","timestamp":"2020-07-26T19:11:59.063998143Z","logger":"kubebuilder.controller","message":"Reconciler error","controller":"mysqlbackup-controller","request":"viadesk/viadesk-my

[2020-07-26 19:28] olakunleoladimeji commented on #549
I would suggest deleting the underlying statefulset and let the operator recreate it.

This shouldnt impact your PVC/data.

[2020-07-27 10:20] jianhaiqing commented on #562
If someone is going to use the operator in product environment, i suppose he probably wanna OnDelete, then only one failover might happen during rolling update.

[2020-07-27 10:21] jianhaiqing commented on #562
preStop is added in following PR
https://github.com/presslabs/mysql-operator/pull/576

[2020-07-27 11:54] stankevich commented on #562
We're running a slightly modified version of the operator where `podSpec` accepts any custom `lifecycle` configuration and passes it to `mysql` container. This allows us to execute a `preStop` script that checks if the current pod is the master and, if so, gracefully moves the master away by `curl`ing the Orchestrator API via `mysql-operator` service (no auth required). The script can check the po

[2020-07-27 15:20] AMecea commented on #575
Hi @asoltesz, we plan to add support for backup policies, see #173

For now, you can specify how many backups to keep, see [this config field](https://github.com/presslabs/mysql-operator/blob/3c3ba745ed15d5e438f5c7ba8f1bd8431ee7a462/examples/example-cluster.yaml#L19) on the MySQL cluster resource and you can set [delete policy](https://github.com/presslabs/mysql-operator/blob/3c3ba745ed15d5e438f5c

[2020-07-27 15:31] AMecea commented on #574
The `orchestrator` controller reconciles each [`reconcileTimePeriod`](https://github.com/presslabs/mysql-operator/blob/4d88be22e4b30c65c1a0fd60794533cbd4fe50e7/pkg/controller/orchestrator/orchestrator_controller.go#L64) seconds all clusters, see this [code](https://github.com/presslabs/mysql-operator/blob/4d88be22e4b30c65c1a0fd60794533cbd4fe50e7/pkg/controller/orchestrator/orchestrator_controller.

[2020-07-27 15:35] AMecea commented on #573
That's already what happens, see the https://github.com/presslabs/mysql-operator/issues/574#issuecomment-664467501. The cluster is enqueued each 5s.

[2020-07-27 16:08] AMecea commented on #562
@stankevich would you like to share the pre stop script?

I think we can do it too, we can make [this variable](https://github.com/presslabs/mysql-operator/blob/4d88be22e4b30c65c1a0fd60794533cbd4fe50e7/pkg/controller/orchestrator/orchestrator_reconcile.go#L42) configurable from command line.

[2020-07-27 18:51] smedefind opened #579 "Fresh MySQL slave comes up and scans all the bin logs on start-up"
We've started seeing an issue where we will build out a new replica from a master or another replica, and on mysql container start, a single threaded process reads all the log files. This takes upwards of 3 hours on our 220G database, and didn't happen months ago when we first built this cluster.

Nothing is stated in the MySQL logs, we had to attach strace to the process to see what it was doing.

[2020-07-27 21:12] dougfales commented on #566
Yes, @AMecea is right, our change does trade the cluster `readOnly` mode for a promise that the operator won't touch the readable/writable status of the master, during failover or any other time. It's a trade-off, but we didn't need the read-only mode, so it was worth it for us. I think we may have seen the scenario you describe @jianhaiqing, during some of our testing before we switched to the ap

[2020-07-28 00:06] jianhaiqing commented on #574
Ok, I'm clear. One more question, why not use the the following code, it would be enqueue the reconciling routine as well.
Is there any difference you guys have found ?
[code]

[2020-07-28 01:31] jianhaiqing commented on #574
I have checked the reconciling process, if RequeueAfter is set, each of the cluster will be reconciled every RequeueAfter .
So both of them can satisfy our expectation, is there any performance consideration ?

How would you test the performance of operator ? Do you have any clue about the performance testing, and the key metrics of operator. So far, i can get the prometheus metrics from operator,

[2020-07-28 08:02] BinaryFissionGames opened #580 "Raft unable to bind when installed"
Hey all,

I've been playing around with trying to get this operator to work on minikube, and have found installing the mysql-operator chart always fails.

When I view the logs for the orchestrator, I see this:
[code]

This address (which, I suppose, is the value of the HOSTNAME environment variable) is unknown to me.

I found that if I edit the orchestrator config to use `{{ .Env.POD_IP }}` or `0.

[2020-07-28 13:30] AMecea commented on #574
That logic is old, I'm not sure why we choose to do it that way. Yes, it's possible to do it as you suggested.

We've run it with around 300 clusters but it didn't do that well. It worked but it was slow in reconciling the status and pod labels. I think that the Orchestrator was the bottleneck. May I ask how many clusters do you plan to manage with a single MySQL Operator?

[2020-07-29 01:33] jianhaiqing commented on #574
I would do the stress test to see how many clusters a single operator and orchestrator can handle within our toleration expectation, such as failover within 15 seconds, master service can't work properly.

[2020-07-29 09:33] stankevich commented on #579
@smedefind: do you have [`binlog_gtid_simple_recovery`](https://dev.mysql.com/doc/refman/5.7/en/replication-options-gtids.html#sysvar_binlog_gtid_simple_recovery) disabled? Have a look at https://bugs.mysql.com/bug.php?id=69097 for more info.

[2020-07-29 15:58] smedefind commented on #579
Thanks @stankevich , Turns out we've had General Logging enabled for months and it just takes forever for MySQL to scan the database on load.

[2020-07-29 15:58] #579 closed

[2020-08-03 07:20] DeamonMV opened #582 "Orchestrator "Unable to determine cluster name" after deploying cluster, which was deleted."
# How problems looks like

right after problem was discovered:

`orchestrator` showed this error
[code]

After few days `orchestrator` show only this message:
[code]

# How we got a problem

Drain with specific options lead to problem with Termination of mysql node pods , which lead to `Ready: False` status of mysql cluster.

For example if use such options for dain command - `kubectl drain  --ign

[2020-08-03 15:25] AMecea commented on #582
Hi @DeamonMV thank you for reporting this. Can you please estimate what was the time between deleting the cluster and recreating it again? Because Orchestrator deletes nodes when they are inactive for more than 1 hour, see [this option](https://github.com/presslabs/mysql-operator/blob/8d062f4464d5b6ae088b15e4f04df4c5aeac586c/charts/mysql-operator/values.yaml#L144).

We will try to reproduce it and

[2020-08-03 15:31] AMecea commented on #580
Hi @BinaryFissionGames, We will test with `POD_IP` and if it's ok we will fix this. The configuration of the Orchestrator raft protocol is complicated and we hit a lot of issues with it.

Thank you for reporting this issue! If you already tested with `{{ .Env.POD_IP }}` please feel free to open a PR and we can discuss there further.

[2020-08-04 07:11] DeamonMV commented on #582
Hello

About one minute.

I've already did couple of times such procedure, and all was fine.

[2020-08-04 20:22] abdennour opened #584 "[feature request] Restore from public HTTP link"
I have a MySQL dump uploaded to one of file sharing services.

I have the HTTP link of this backup.

I want to create a restore from this HTTP link .

As per examples, I can see only one source type which is  `initBucketURL`  (S3, or GS).

Is it possible to restore from HTTP link  ?

Something like this:

[code]

[2020-08-04 21:03] abdennour opened #585 "backup s3 Failed to rcat: Forbidden"
What are the least privileges to let operator push backup to S3 ?

I attached this IAM policy to the user who is used by backup service :

[code]

Even though, I got this error when i run `kubectl logs` :

[code]

[2020-08-05 12:42] AMecea commented on #584
Hi @abdennour, You can use http protocol, by specifying `HTTP_URL` in the init secret, see [rclone config](https://github.com/presslabs/mysql-operator/blob/c81f6a9061ab9f4a21fe07570caf06814b71701f/hack/docker/sidecar-entrypoint.sh#L24). So in the `initBucketSecretName` set the name to the secret that contains your `HTTP_URL`, see [rclone documentation](https://rclone.org/http/), and in the `initBu

[2020-08-05 13:24] abdennour commented on #584
Thank you @AMecea
Could you please check the other issue #585 ?

[2020-08-05 13:52] #584 closed

[2020-08-05 14:47] AMecea commented on #585
Hi @abdennour, On `:8080` runs a server that exposes an endpoint to request backups. I don't know why this 403 may come from, please make sure that you have permissins set as described [here](https://rclone.org/s3/#s3-permissions).

[2020-08-06 08:12] TonyBogdanov opened #586 "Extra containers in server pods?"
I've noticed adding `podSpec.containers` has no effect on the generated statefulset.\
Is it at all possible to configure additional containers to run in the same pod along with the MySQL server?

My particular use case is that I use ProxySQL as a load balancer for a one-master-multiple-slaves topology, but my applications can't tolerate stale reads, thus I decided to give ProxySQL Binlog Reader a

[2020-08-06 09:30] TonyBogdanov commented on #586
@AMecea Fiddling with the base image will work nicely for my use case, so feel free to close this issue, unless of course, you like the idea of being able to customize containers and want to keep this as reminder.

[2020-08-10 11:59] AMecea commented on #585
Please check logs for `sidecar` container of pod `app-db-mysql-cluster-db-mysql-0` there is the backup server running.

[2020-08-10 12:01] AMecea commented on #586
Hi @TonyBogdanov, thanks for using the operator!

Starting from version `v0.4.0` the operator has implemented: `MysqlCluster.spec.podSpec.containers` and should work. Did you use the latest version of the operator? Can you please confirm again that the containers are not getting updated on sts, maybe add here an example of cluster spec so I can reproduce it.

Thank you!

[2020-08-11 07:54] AMecea commented on #568
Fixed in: #576

[2020-08-11 07:54] #568 closed

[2020-08-13 16:40] ynnt opened #588 "Replicas are never catch up"
Hello!
I have an issue with mysql cluster not catching up after failover happens.

Cluster spec:
[code]

After I delete mysql-0 pod, mysql-1 starts complaining it can't sync with it:
[code]
Even when mysql-0 is recreated and successfully starts replication connection to mysql-1.

I wonder if using a pod name like **my-cluster-mysql-0.mysql.default** is an issue? Its IP address changes after pod is

[2020-08-17 10:45] elderapo commented on #585
I just thoroughly followed [presslabs's turorial](https://www.presslabs.com/code/kubernetes/kubernetes-mysql-operator-digital-ocean/) with DigitalOcean and encountered error similar to the one reported in this issue:
[code]

DigitalOcean creates s3 users with (I assume) valid permissions because I've successfully used it before.

[2020-08-17 12:10] elderapo opened #589 "Auto backups pods don't get deleted after they're completed"
When playing with this operator I setup automatic backup every 1 minute (for testing purposes - wouldn't do that in production). The backups were successfully created and uploaded to my s3 bucket but pods wouldn't get automatically deleted after they were done:
[code]

[2020-08-17 20:12] elderapo commented on #423
I think it would be nice to have an option like `persistentVolumeReclaimPolicy` to retain PVC's (or at least 1 master one) on cluster deletion.

[2020-08-18 13:34] elderapo opened #590 "Clusters restored from backups don't respect ROOT_PASSWORD from secret"
Docker database image: `percona:5.7.26`

Logs from init container:
[code]

Logs from mysql container:
[code]

[2020-08-18 15:22] elderapo commented on #590
This seems oddly similar to #374. Logs from `mysql-init-only` container are:
[code]

[2020-08-18 15:43] elderapo commented on #590
#184 seems relevant as well.

[2020-08-19 19:24] onelittleant commented on #416
Similar issue here.  If a mysql pod is killed and crash recovery takes too long, then the readiness probe fails for the pod and it is again killed before it can finish crash recovery.  The result is a pod that just keeps restarting and will never finish recovery and rejoin the cluster.

[code]

[2020-08-25 03:27] couch-potato08 opened #591 "Unknown variable "binlog-space-limit" error when using mysql:5.7 image."
Installed the cluster following [this](https://www.presslabs.com/docs/mysql-operator/deploy-mysql-cluster) docs. I am using the `mysql:5.7` image instead of the default `percona` MySQL image. I've also set volumeClaim in `volumeSpec` the cluster yaml, following [this](https://www.presslabs.com/docs/mysql-operator/deploy-mysql-cluster/#persistent-volume-claim). But using this combination of image &

[2020-08-25 03:37] couch-potato08 opened #592 "Pods go into a crash-loop when using mysql:8.0 image"
Operator version: 0.4.0
Run into following errors when using the `mysql:8.0` image:
[code]

Is MySQL 8.0 supported by the operator yet? This issue #363 gave the impression that it was supported in versions 0.3.0+.

[2020-08-28 07:20] AMecea commented on #592
Hi @couch-potato08, we tried to integrate MySQL 8 but hit some issues and give up. We will try it again. Now it does not work with MySQL 8.

[2020-08-28 07:24] AMecea commented on #591
Hi @couch-potato08, thanks for reporting this. I will add an extra check to don't set that config based on the image.

[2020-08-28 07:26] AMecea commented on #589
Duplicate of #577

[2020-08-28 07:38] AMecea commented on #588
Hi @ynnt, When `mysql-0` is stopped the `mysql-1` is promoted as master and is detached from the old master.

See that the host (`sys_replication@//my-cluster-mysql-0.mysql.default:3306`) contains a `//`, in the name, that means that is detached. This is how Orchestrator operates.

My question is does `mysql-0` become a replica to `mysql-1`? If yes then you can ignore all of those errors. Please c

[2020-08-28 12:40] #589 closed

[2020-08-31 08:49] telepenin opened #594 "Using MysqlClusterSpec inside other operator"
Hi, I try to use presslabs/mysql-operator operator inside my own operator (based on operator SDK via client in Go) like this:
sample_types.go
[code]

and get several errors when trying to building manifest files:
[code]

[2020-09-04 08:58] #577 closed

[2020-09-09 10:38] zhifei92 opened #596 "What's wrong with the mysql-8 branch now, I've got some errors here"
mysql-0 is notready
[code]
mysql-1 logs
[code]

[2020-09-10 10:11] notdodo opened #597 "Wrong IP on /api/raft-health"
Hi all,

deploying the mysql-operator I get this errors on the orchestrator pod:

[code]

The pod is trying to connect the node public IP address, is there any way to fix this behaviour?

[2020-09-11 15:17] ynnt commented on #588
Hey!
It can't become a replica, because it tries to connect using old mysql-1 IP address. Orchestrator reports the replication problem.

`show slave status;` shows this:
`               Slave_IO_State: Connecting to master`

[2020-09-11 15:46] ynnt commented on #588
Also, are there any ways to start mysql with hostnetwork?

[2020-09-12 10:16] notdodo commented on #597
I'm facing this problem only using CRI-O as container runtime on kubernetes. With docker the IP is public but I do not get 500 Internal Server Error on the API call on /api/raft-health

[2020-09-14 08:01] bananaappletw opened #599 "User-defined InitContainers should take the precedence"
For those `securityContext.fsGroup` not working case.

user-defined InitContainers should run before `init` and any other existing init containers.

Then user-defined InitContainers can run `chown -R 999:999 /var/lib/mysql` to change the permission.

Probably need to modify code [here](https://github.com/presslabs/mysql-operator/blob/master/pkg/controller/mysqlcluster/internal/syncer/statefullset.

[2020-09-16 18:11] #591 closed

[2020-09-17 13:38] AlexTr opened #608 "Problem when master node dies second time"
When master pod `my-cluster-mysql-0` dies, then `my-cluster-mysql-[1-9]` becomes master pod. Then if cluster is resized to 1 replica, then master node `my-cluster-mysql-1`  is deleted, and cluster stays with one `my-cluster-mysql-0` pod which become master, so first time this works fine. Then when we do the same second time, we have `my-cluster-mysql-0` pod which is configured as slave.

# Steps t

[2020-09-22 19:23] #599 closed

[2020-09-25 09:29] Rahulsharma0810 opened #609 "Guide to setup prometheus monitoring"
Can you guide me through, collecting metrics in Prometheus, I can see port 9125 on, NONE cluster IP.
[code]

How to export this metic and what is the value for `scrape_configs`

Thanks,
Rahul Sharma

[2020-09-27 09:25] aisensiy opened #610 "Is is possible to deactivate Orchestrator persistence?"
https://github.com/presslabs/mysql-operator/blob/dfdea2b24bbd3981bbbbca56ee4f529e00430db9/charts/mysql-operator/values.yaml#L117

What will happen if I set this `false` after restart the operator? Does this make the whole mysql cluster unavailable to use?

[2020-09-29 18:00] Rahulsharma0810 commented on #610
[code]
this have orchestrator data, after the restart, you will lose it and cluster state.

[2020-10-06 16:58] AMecea commented on #610
Hi @aisensiy, @Rahulsharma0810 is right. That data will be lost at every operator restart but the operator should work because the soure of truth is in k8s. The main problem is that the operator is not tested in this case very well.

May I know what dosn't work and why you need to deactivate Orchestrator persistance?
Thank you!

[2020-10-06 17:09] AMecea commented on #609
Hi, @Rahulsharma0810,

Yes you can set a Prometheus ServiceMonitor resource to collect logs from that port. I've played more with PodMonitor to select all mysql pods and collect logs from that port.

Here is an example of PodMonitor resource:
[code]

Can I see description of your ServiceMonitor resource?

[2020-10-06 17:15] AMecea commented on #596
Hi @zhifei92, is this fixed with the merge of https://github.com/presslabs/mysql-operator/pull/607?

[2020-10-06 17:44] AMecea commented on #594
Hi @telepenin, Sorry but I can't reproduce this with your provided code. What version of controller-tools do you use? Did you found a fix for this?

[2020-10-07 09:29] Rahulsharma0810 opened #611 "Rclone, issue with google drive endpoint"
[code]

when i check `k exec -it mysql-ops-cluster-backup-backup-z7hds -- bin/bash -c "cat /tmp/rclone.conf"`

[code]

According to this file https://raw.githubusercontent.com/presslabs/mysql-operator/be4d4b559ca40200ea16c33ebc986dd5eff89a4b/hack/docker/sidecar-entrypoint.sh

there should be a section

[code]

After, Inspecting the sidecar, there is no section in the endpoint too.
`k exec -it mysq

[2020-10-09 07:08] zhifei92 commented on #596
Yes, it has been fixed.I will close the issues

[2020-10-09 07:08] #596 closed

[2020-10-09 10:39] aisensiy commented on #610
I just want to minimize the persistence volume dependency. For example if the kubernetes cluster persistence volumes are broken, how can I recoverty the whole operator? The mysql pvc will have s3 backup to recovery, while the Orchestrator have no backup?

It seems that the Orchestrator persistence is just unnecessary?

[2020-10-13 05:39] albertyfwu commented on #519
@delgod Is it possible to enable semi-sync replication?

[2020-10-15 21:49] ExiaSR opened #613 "New master is not replicating after a failover"
## Info

Version: the latest `operator` and `cluster` chart from this repository.

## Description

Our test environment consists of 3 nodes.

- $release-mysqlcluster-db-0 (master)
- $release-mysqlcluster-db-1
- $release-mysqlcluster-db-2

We are simulating a master node failure by killing the `mysqld` process in the `db-1`

In the event of a `DeadMaster` event, `orchestrator` automatically promote

[2020-10-15 23:42] ExiaSR commented on #482
@AMecea This could be related https://github.com/presslabs/mysql-operator/issues/613

[2020-10-17 09:32] #586 closed

[2020-10-17 10:01] #542 closed

[2020-10-17 10:09] #491 closed

[2020-10-17 10:10] #485 closed

[2020-10-17 10:11] #480 closed

[2020-10-17 14:47] AMecea commented on #377
Hi @kman99, the operator has support for setting metrics exporter and sidecar container resources, starting from version `0.4.0`.

[2020-10-17 14:47] #377 closed

[2020-10-17 14:48] #370 closed

[2020-10-17 15:07] vishnukanth-chittayala commented on #485
Sorry I don't remember now it was long time ago

On Thu, Feb 27, 2020, 3:03 PM Flavius <notifications@github.com> wrote:

[2020-10-19 07:29] luoyangustc opened #614 "Create MysqlCluster Failed"
When I use mysql-operator/charts/mysql-cluster to generate the mysql-cluster.yaml,The content show as follow:
[code]

The result :
![image](https://user-images.githubusercontent.com/31932405/96414355-96e7ec80-121f-11eb-9ee0-d2e4b12e3c12.png)
The pod of mysql-cluster-db-mysql-0 is Ok,but mysql-cluster-db-mysql-1 is Error.
kubectl logs mysql-cluster-db-mysql-1 -c init:
![image](https://user-images.g

[2020-10-19 09:43] baurmatt commented on #613
Seeing more or less the same in our tests. We're testing how we're going to handle node drains. While testing this, I've realized that, no matter what kind of persistence (hostPath, local path PVC, SDS PVC, emptyDir) we configure the cluster is always broken in Orchestrator after the drain. The MySQL pods gets recreated correctly on another node, but it seems like the cluster isn't correctly set b

[2020-10-19 17:24] Rahulsharma0810 commented on #609
[code]

I have the above in place, unfortunately, https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack this don't reload with the service monitor

[2020-10-20 01:29] 15767637775 opened #615 "unable to open database file"
Just getting started

$helm install mysql-operator presslabs/mysql-operator

$kubectl get po mysql-operator-0
NAME               READY   STATUS             RESTARTS   AGE
mysql-operator-0   1/2     CrashLoopBackOff   221        18h

$ kubectl logs mysql-operator-0 -c orchestrator
2020-10-20 01:19:48 FATAL unable to open database file

nothing else logs, how can I fix it?

[2020-10-20 23:33] albertyfwu commented on #590
any update?

[2020-10-22 13:46] ynnt commented on #613
For me it looks like it's not really a problem, but rather misleading message from operator/orchestrator. Replication is still working in an async mode... And master doesn't have to replicate anything at all...

After I reset new master's replication via Orchestrator everything becomes normal again.
Looks like it's worth automating this inside the operator.

[2020-10-23 10:16] lefeiwang opened #616 "【Offline installation】Failed to pull image "percona@sha256:713c1817615b333b17d.....""
[Offline installation]
During offline installation, there is no way to download such an offline mirror. How to replace the mirror with a version number for installation.

[2020-10-23 13:05] #573 closed

[2020-10-23 13:46] #284 closed

[2020-10-24 20:27] AMecea commented on #509
I've tested without starting the server in `read_only` mode and it works. In order to fix this, I will let the server start without read_only and I will set it read-only as soon as runs init files (see #619)

[2020-10-25 15:45] AMecea commented on #616
Hi @lefeiwang,

You can at any time specifying the MySQL server image by settings [`image` field](https://github.com/presslabs/mysql-operator/blob/d9a3f08a13831472fa202a841de5eae7f926114d/examples/example-cluster.yaml#L11) on the `MysqlCluster` resource. See this example:
[code]

Please let me know if this helps!

[2020-10-25 15:51] AMecea commented on #615
Hi @15767637775, can you tell me more about your environment (e.i k8s version, provider, underlaying storage)?

Also, you can try by disabling Orchestrator's persistance to test if that's the cause. Follow this comment: https://github.com/presslabs/mysql-operator/issues/610#issue-709704023

Please let me know if this works. Usually, Orchestrator works without persistence but is not encourage to ru

[2020-10-25 16:30] AMecea commented on #614
Hi @luoyangustc, can you please check on which node did the second pod scheduled?

Please make sure about host path directory permissions. The mysql user `999` should have permissions over that directory on the node.

Also, using `hostPath` it will require some node selector and affinity in place to keep the pod on the same node. Please try running, at first, only with one a node and set node sele

[2020-10-26 03:09] lefeiwang commented on #616
Thank you for your reply, the problem has been solved.

[2020-10-26 16:51] #616 closed

[2020-10-26 17:03] AMecea commented on #590
Hi, this is indeed an issue and is on our road map, this iis related to #75.

Also, Did you tried to use the old password? Because it should work with the old password.

[2020-10-26 17:44] albertyfwu commented on #590
I haven't personally tried to see if I would have an issue. I just wanted to follow up on this to know whether I can consider this `mysql-operator` for my own production use.

I saw that this issue was originally discussed on Slack and it was stated that even using the old password didn't seem to work. Is that not true?

[2020-10-26 17:51] AMecea commented on #611
Hi, @Rahulsharma0810, Google Drive support is only merged on the master branch and will be included in version `0.5.0`.

[2020-10-26 17:51] elderapo commented on #590
If I remember correctly when I experienced this bug the old password didn't work as well (I am pretty sure I haven't changed passwords between backup and restoration).

[2020-10-26 18:06] AMecea commented on #590
Ok, I will mark this as a bug and I will prioritize #75 in order to fix this. But I can't reproduce this, the last time I've tried the backup worked with the old password.

[2020-10-27 05:51] sritter-sellvin opened #621 "Change TimeZone"
Hi Guyes,

is it possible to change the timezone to Europe/Berlin in helm?

We are using helm to deploy the mysql-cluster as following:
[code]

Currently we are setting the default-time-zone to "+02:00". Last weekend we changed from summer to winter time and it would be "+01:00", so it is easier to use "Europe/Berlin".

Thanks a lot!

[2020-10-27 08:00] Rahulsharma0810 commented on #611
That's Cool, @AMecea when we are planninng this release  ?

[2020-10-27 11:13] proligde opened #622 "AWS S3 Backup seems to only support us-east-1 region"
Hi there,

I tried to setup cluster backups using AWS S3 on operator V0.4.0 but ran into an issue getting Permission Denied when the pod connects to AWS. I dug deeper and it seems to ignore my AWS_REGION setting for eu-central-1 in the secrts.

This might be due to the hardcoded "us-east-1" here: https://github.com/presslabs/mysql-operator/blob/master/hack/docker/sidecar-entrypoint.sh on line 23.

[2020-10-27 12:02] proligde commented on #585
I have exactly the same issue - unfortunately it's not going away for me and the credentials are correct - I can use them in other backups.

[2020-10-28 07:33] jescarri commented on #549
Hey folks, any idea on how to fix this? Or does this bug limits the k8s versions this operator can be used?

thanks!

[2020-10-28 13:32] AMecea commented on #549
Hi @jescarri, did you tried the operator on k8s version >= 1.17? Did you run into the same error as above?
I will run some tests on 1.17 too, now it's only tested on 1.16 and I will try to include support for 1.17 in release `0.5.0`

[2020-10-28 17:48] mjpitz opened #623 "Issues starting new clusters with backups"
My configuration seems pretty straight forward but my cluster isn't starting for what looks like permissions issues

[code]

I tried enabling the volume permission container but that doesn't do anything since it's last in the chain and never gets a chance to run. Can someone help me understand why my cluster won't start?

[code]

[2020-10-28 18:04] mjpitz commented on #623
So I've disabled backups and am still having this problem with a new cluster.

[2020-10-28 23:27] mjpitz commented on #623
Stack trace from init container causing crashloop backoff:

[code]

It's really frustrating because it seems like it up and stopped working on me.

[2020-10-29 08:52] #509 closed

[2020-11-01 16:15] AMecea commented on #623
Hi @mjpitz, I think the issues is that the init containers that you have specified are run after the mysql-operator containers. This is fixed and will be released in `0.5` (see #600).

[2020-11-01 17:14] mjpitz commented on #623
@AMecea thanks for following up! I think there might also be something in play from my cloud providers perspective too. Haven't been able to prove anything yet, but ran into issues provisioning a redis cluster earlier.

I've been able to mitigate in the meantime.

[2020-11-03 15:26] HendrikRoehm opened #625 "Default volume differs from documentation"
Hi,

first of all, thank you for this awesome operator. We like it very much, but discovered a small but severe issue. According to the [documentation](https://www.presslabs.com/docs/mysql-operator/deploy-mysql-cluster/), without any additional configuration, it persists the data with a PVC of size 1Gb. However, for us this was not the case. Instead, it created a volume using emptyDir. This means,

[2020-11-03 17:26] AMecea commented on #625
Hi @HendrikRoehm, Indeed this is a bug. Thank you for reporting it, I will fix it.

[2020-11-03 18:26] AMecea opened #627 "Let the orchestrator handle the read-only/writable of nodes"
As @dougfales put it:

When we introduced the `readOnly` in #100 we wanted to have a quarantee that when `readOnly` is `True` the cluster will not get writable again but in case of a failover the orchestrator will set new master writable without knowing about `readOnly: True`. So in #222 we forced the orchestrator to do the failover but not apply promotion (which will not set node writable).

Ther

[2020-11-03 18:41] AMecea commented on #622
Hi @proligde, thank you for using the operator! That's the default value, if you specified the `AWS_REGION` the rclone config should include it. Can you please kubectl exec into the backup container and check `/tmp/rclone.conf` to see exact rclone config?

[2020-11-03 18:42] AMecea commented on #611
Soon :smile: but I have limited time and a lot of work to do. I don't promise anything but in a week or two it should be released !

[2020-11-03 18:43] #611 closed

[2020-11-03 18:44] AMecea commented on #621
Hi @sritter-sellvin, thank you for using the operator!

What do you mean by setting the timezone in helm?

[2020-11-03 18:54] AMecea commented on #609
Oo, you should use the [Prometheus Operator](https://github.com/prometheus-operator/prometheus-operator) in order to work using `ServiceMonitor`.

[2020-11-03 19:22] AMecea commented on #519
Hi @albertyfwu, it should be possible, Here is the official MySQL documentation: https://dev.mysql.com/doc/refman/5.7/en/replication-semisync-installation.html. The operator supports enabling custom plugins but does not support different configurations for master or slave.

The only issue that I can see is that mysqld configuration should be different on the slave than on master but this is easy t

[2020-11-04 06:42] sritter-sellvin commented on #621
Hi @AMecea!

For deploying our mysql-cluster we are using helmfile that includes a values.yaml.
The helmfile looks like:

[code]

The values-mysql.yaml looks like:
[code]

With mysqlConf is it possible to set some values to the my.cnf, right?
So we would to set the default-time-zone to "Europe/Berlin" instead of "+1:00" (or "+02:00" in summertime) but that doesen´t work. (https://dev.mysql.com/doc

[2020-11-04 11:37] stankevich commented on #519
@albertyfwu: we've been running with semisynchronous replication for quite a while now. A few things to be aware of:

- To enable semisync, two plugins need to be loaded via `plugin_load`/`plugin_load_add` options, which take a semicolon-separated list of values: `plugin_load = semisync_master.so;semisync_slave.so`. Not a problem when you only need to load two plugins:

[code]

   This won't work

[2020-11-11 17:02] dougfales commented on #627
Thanks for writing up this issue, @AMecea! Unfortunately, I have not had a chance to finish making a global ignore-read-only option as we discussed in #522. I am still willing to do that, but I am not sure how much time I will have before the end of the year.

I had a few comments on what you mentioned above...

I think this is a great idea. For us, letting Orchestrator manage failover is one of t

[2020-11-13 05:49] Erically commented on #416
resolved?

[2020-11-23 08:53] jianhaiqing opened #632 "container.mysql.lifecycle script should be copied from ConfMapVolumeMountPath to ConfVolumeMountPath"
https://github.com/presslabs/mysql-operator/blob/b49149297775a21d1406a03fccdade37edde2a0d/pkg/controller/mysqlcluster/internal/syncer/config_map.go#L59

https://github.com/presslabs/mysql-operator/blob/b49149297775a21d1406a03fccdade37edde2a0d/pkg/sidecar/appconf.go#L38

I would fix it later on.

[2020-11-24 10:27] Leen15 opened #634 "ETA for next release?"
Hi, thanks for the great job with this operator.
We have a big issue about this: https://github.com/presslabs/mysql-operator/issues/543

For what we can see, the fix should be available in the next release, as described in the "unreleased" section of the changelog.

is there an ETA for it?

Thanks

[2020-11-24 15:10] daanemanz commented on #529
@AMecea we've run into a similar issue; the version of the operator image is not explicitly set in the Helm chart (which just specifies `latest`) which also means that a _redeploy_ of the operator pod could upgrade (due to the `latest` tag) and trigger a rolling restart of the cluster.

[2020-11-28 01:03] jianhaiqing opened #635 "mysqld failed to start after clone_and_init is done"
Do you know how to fix the error ?
- percona-server: 5.7.30-33
- the second node clone from the first, and failed to start.
[code]

[2020-11-28 05:24] jianhaiqing commented on #635
cause percona-xtrabackup-24-2.4.20-1.el7.x86_64.rpm(5.7.26) is not  compatible with percona-server: 5.7.30-33;

 after I rollbacked percona-server: 5.7.30-33 to 5.7.26, it works.

[2020-11-28 06:10] jianhaiqing commented on #635
related  issue : https://github.com/presslabs/mysql-operator/issues/509

[2020-11-28 06:10] #635 closed

[2020-11-29 02:54] jianhaiqing opened #636 "how about using http liveniess and readiness of mysql container instead of exec mysqladmin ?"
Since exec action handle is very heavy action, fork process and exec the command, how about add two endpoint in sidecar to exec the liveness and readiness for mysql container.
kubelet --> liveness of mysql container,  and handled by sidecar container, using mysql connection pool to exec the probe to mysql container.

[2020-11-30 16:21] pzduniak commented on #549
@AMecea Can you please explicitly mention what K8S versions are supposed to be supported in the README? We're just using the latest stuff and ran into this issue on 1.19. I can't even figure out if I'm doing anything incorrectly.

[2020-11-30 18:01] jescarri commented on #549
@AMecea I tried it in 1.19 and got the error, I was thinking if readiness probes could do the job instead of patching the pod labels.

[2020-12-02 02:13] jianhaiqing opened #637 "mysqlbackup status can't be updated, there's always one running backup job"
https://github.com/presslabs/mysql-operator/blob/5d86d0ce0c916dbadb70147e871d1f98ae80b18d/pkg/controller/mysqlbackup/mysqlbackup_controller.go#L182

`r.Update(context.TODO(), backup.Unwrap());` can't update mysqlbackup status, we need to update status of mysqlbackup separately. Demo as follows, is it right?

[code]

[2020-12-02 09:45] sritter-sellvin commented on #621
Now we got the solution.

To change the timezone you need to add a new container like following:
[code]

[2020-12-02 09:45] #621 closed

[2020-12-03 11:57] jianhaiqing commented on #627
@AMecea I agree with you, as i describe in https://github.com/presslabs/mysql-operator/issues/566, Read_only mode might be broken by orchestrator unexpected. We should trust orchestrator can handle read_only state rightly. Users can set the cluster read_only mode by manager process if they want.

[2020-12-03 18:25] #278 closed

[2020-12-03 18:25] #363 closed

[2020-12-11 08:11] cuijxin opened #638 "Slave I/O for channel '': error connecting to master 'sys_replication@//my-cluster-mysql-1.mysql.presslabs:3306' - retry-time: 1 retries: xxxx, Error_code: 2005"
I deploy the cluster use:
[code]

Then, I got the cluster's pods:
[code]

*When I kill the pod `my-cluster-mysql-0`, to test the HA feature.  Everything is ok, but, when the pod running again, I got the error logs in the `my-cluster-mysql-0` pod never-ending: `Slave I/O for channel '': error connecting to master 'sys_replication@//my-cluster-mysql-1.mysql.presslabs:3306' - retry-time: 1 retries:

[2020-12-11 14:42] kangkang721 opened #639 "mysqld: Table './mysql/user' is marked as crashed and should be repaired"
![图片](https://user-images.githubusercontent.com/39193387/101916454-eafcc500-3c01-11eb-9ee7-f528bc50898c.png)
![图片](https://user-images.githubusercontent.com/39193387/101916515-023bb280-3c02-11eb-81c1-3a6a19b4efeb.png)
How to solve this problem?

[2020-12-12 01:09] jianhaiqing opened #640 "password generation is not satisfied with MySQL password plugin validate_password"
when MySQL plugin validate_password is installed, its default values  as follows,
[code]
If you agree with the password rule, I going to use new password generation algorithm instead of "AlphaNumericString"

[2020-12-12 14:55] jianhaiqing commented on #639
refer to https://github.com/presslabs/mysql-operator/issues/509

[2020-12-12 15:07] kangkang721 commented on #639
好的，我试一下

[2020-12-17 23:11] jmordica commented on #10
Hi there, is this still planned?

[2020-12-22 10:55] jianhaiqing commented on #638
Could you provide the output of the following command ?
show slave status \G
orchestrator-client -c topology -alias my-cluster.presslab

[2020-12-22 16:42] Leen15 commented on #634
Hi, somebody can explain us how we can use the fixed code in helm without wait for the next release?

[2020-12-30 11:15] notdodo commented on #634
bump?

[2020-12-30 13:35] tranlyvu opened #642 "Which service to connect?"
HI,

1) So when I deploy a mysqlcluster, I see there are 3 services: 1 to connect to master, 1 to replicas, and 1 to both. So if we like to use only 1 endpoint for both write and read in our app, which service should we connect the app to?

2) If we use the service that connects to master only to perform write, will the data be replicated automatically to others?

3) If we use the service that con

[2020-12-31 05:24] jianhaiqing opened #643 "replica's binlog would be reset, once pod is reconstructed."
https://github.com/presslabs/mysql-operator/blob/47436cc5edd3d974239e45c994ccf7e22afa65e0/pkg/sidecar/appconf.go#L196

[2020-12-31 05:25] jianhaiqing commented on #643
The logic of FirstPodInSet should be removed. @AMecea

[2020-12-31 18:25] chasebolt opened #644 "MySQL 8.0 Support?"
big fan of this operator! is there a roadmap for mysql 8.0 support?

[2021-01-02 16:18] enoliveira commented on #416
still happening.

[2021-01-04 13:10] elderapo opened #645 "How to recover backup locally"
What is the simplest way of recovering automatic backup locally (for dev/debugging purposes).

Let's say I have downloaded `mysql-cluster-auto-2021-01-04t12-00-00.xbackup.gz` and would like to recreate database ideally with a different name (instead of `my-db--production` I want `my-db--dev`).

Now I get a little bit stuck/confused as to what software I need and what steps need to be done. I am us

[2021-01-04 15:48] enoliveira commented on #642
I tried to ping all 3 services from my backend. It is not reachable.

[2021-01-05 03:32] olakunleoladimeji commented on #634
@Leen15 you can make your own build of the operator using the Makefile.

Obviously, you'll need to adjust certain parameters e.g. the docker registry.

[2021-01-05 03:34] olakunleoladimeji commented on #644
It appears to be coming in the next release. See the last option

https://github.com/presslabs/mysql-operator/blob/master/Changelog.md#added

[2021-01-05 03:36] olakunleoladimeji commented on #642
@enoliveira to connect to these services, you'll need to use `<SERVICE_NAME>.mysql`

[2021-01-05 18:11] AMecea commented on #645
Hi @elderapo, you can decompress the backup and run mysqld.

Using this command should prepare the files for the backup:
[code]

Or using docker:
[code]

Hope this helps!
Best regads,

[2021-01-05 18:16] AMecea commented on #643
Hi @jianhaiqing, can you explain a little more? Thanks!

[2021-01-05 18:24] AMecea commented on #642
Hi @tranlyvu, You should use the master service for reads and for writes, you don't have to worry about replicas, the MySQL will replicate and the operator will take care to keep the service pointing always to master (in case of a failover).  The read service will distribute reads to all ready replicas.

To be able to use both endpoints your app should be aware of this, this is an optimization tha

[2021-01-05 18:27] tranlyvu commented on #642
@AMecea If I use the master endpoint for both read and write, then I think the reads will only be directed to the master server, am I right?

[2021-01-05 21:49] elderapo commented on #645
That's exactly what I needed! Thanks!

Any idea if there is a simple way of renaming a freshly recovered database?

[2021-01-06 00:54] jianhaiqing commented on #643
[code]
The logic is used, replica is created, and xtrabackup's "--tables-exclude=sys_operator.status" can't work properly.
But, once the replica is running for a while,  and there's a rolling update for each pod. Then the status would be dropped. again, and `reset master; set global gtid_purged=''` would be executed again. master-replica io_thread or sql_thread might be stopped due to 'binlog is p

[2021-01-08 22:16] enoliveira opened #646 "PersistenteVolume deleting when stopping the pod"
This is my yaml file:
[code]
Every time I stop the pod the volume is getting deleted. It creates the persistenteVolume and  persistenteVolumeClaim.

Using: minikube + skaffold + helm 3
![image](https://user-images.githubusercontent.com/44368472/104070455-ef060d80-51d4-11eb-9858-33525c1bf8ff.png)

Am I missing something?

Thanks

[2021-01-13 20:35] calind commented on #642
Yup.

[2021-01-15 08:13] jianhaiqing commented on #643
how to rename xtrabackup_binlog_info after `set global gtid_purged='@gtid'` is run ?
remove --tables-exclude from xtrabackup ?

[2021-01-16 08:34] jianhaiqing opened #647 "custom conf can't overwrite the default conf"
https://github.com/presslabs/mysql-operator/blob/2a95c33f1d7155306e973f2957cc8bd5fffeeeab/pkg/controller/mysqlcluster/internal/syncer/config_map.go#L100

it would nice as follows:
[code]

[2021-01-18 06:50] AMecea commented on #647
Hi @jianhaiqing, indeed this should be fixed, please open a PR.

[2021-01-18 06:55] AMecea commented on #646
Hi @enoliveira, how do you stop the pod?  The PVC gets deleted but only for replicas when the cluster is scaled-down and never for the master pod or index 0.

What version of k8s are you using?

Thank you!

[2021-01-18 20:17] enoliveira commented on #646
Kubernetes version v1.20.

I'm using Skaffold to deploy. When I stop the deployment though Skaffold all volumes are persistent except the MysqlCluster.

[2021-01-19 05:32] 1121437613 opened #648 "Create a MysqlCluster cluster, can not see the mysql pod"
Create a MysqlCluster cluster, can not see the mysql pod.
The operator is installed through helm, and there is no obvious error,But after creating MysqlCluster, kubectl get pods cannot see the pod about MysqlCluster.
May I ask which step is wrong?

[2021-01-19 05:39] 1121437613 commented on #648
Supplement: kubectl describe MysqlCluster does not have any event information

[2021-01-19 15:22] AMecea commented on #648
Hi @1121437613,

Can you please check the operator logs? Also, please list the statefulsets to see if the operator managed to deploy it.

[2021-01-19 15:31] AMecea commented on #646
It can be because of the k8s version. I didn't test on 1.20. We have a cleanup task that removes PVC if not used. I have to revise that.

Thank you!

[2021-01-21 06:54] 1121437613 commented on #648
operator pod log ：
E0121 06:48:51.944849       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.2/tools/cache/reflector.go:125: Failed to list *v1alpha1.MysqlCluster: v1alpha1.MysqlClusterList.Items: []v1alpha1.MysqlCluster: v1alpha1.MysqlCluster.Spec: v1alpha1.MysqlClusterSpec.MysqlConf: MinAvailable: ReadString: expects " or n, but found 1, error found in #10 byte of ...|ailable":1,"mysqlCon|.

[2021-01-21 06:54] 1121437613 commented on #648
operator pod log ：
E0121 06:48:51.944849 1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.2/tools/cache/reflector.go:125: Failed to list *v1alpha1.MysqlCluster: v1alpha1.MysqlClusterList.Items: []v1alpha1.MysqlCluster: v1alpha1.MysqlCluster.Spec: v1alpha1.MysqlClusterSpec.MysqlConf: MinAvailable: ReadString: expects " or n, but found 1, error found in #10 byte of ...|ailable":1,"mysqlCon|..., bi

[2021-01-25 08:33] yashrsharma44 commented on #609
@AMecea can you help me how could I connect, the metrics exporter for Prometheus inside the MySQL cluster, connect with the Prometheus operator?

[2021-01-26 00:14] onelittleant commented on #416
Because we are unable to configure the readinessProbe we cannot provide cluster stability in the case of a mysql pod that requires crash recovery.  As a result we are unable to use this solution in a production environment.  We really like the operator model and have been eager to use it in production.  If we could give readinessProbe configurations in the mysql podSpec it would get us there, but

[2021-01-29 10:41] AMecea commented on #609
Hi @yashrsharma44, did you tried to create a service or pod monitor as suggested in https://github.com/presslabs/mysql-operator/issues/609#issuecomment-704420657 ?

The metrics exporter is already included in the MySQL pod (deployment).

[2021-01-29 10:47] #632 closed

[2021-01-29 10:47] #637 closed

[2021-01-29 15:55] mcervar opened #650 "failed syncing: configmaps"
Hi, tried creating new secret and cluster but its not going up, when I check events under describe mysqlcluster name I get:

  Warning  ConfigMapSyncFailed  59s (x15 over 2m28s)  controller.mysqlcluster  *v1.ConfigMap master/my-cluster-mysql failed syncing: configmaps "my-cluster-mysql" is forbidden: cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers o

[2021-01-30 00:57] jianhaiqing commented on #643
It really confuse me, could you explain the logical more detailed for me. In my option, it's fatal issue, replicas' binlog might be reset again once it's reconstructed again.

[2021-01-30 17:18] munjalpatel opened #652 "Unable to install cluster crds on Kubernetes v1.18.10"
Hello,

I am trying to install CRDs on `Kubernetes v1.18.10` by doing:
[code]

However, I am getting the flooring error for `mysql.presslabs.org_mysqlclusters.yaml`:
[code]

cc: @AMecea

[2021-01-31 00:11] munjalpatel opened #653 "Cluster creating fails with "sidecar service was not available""
Hello,

I am trying to setup a simple 3 node mysql cluster.
However, it keeps failing with the following log in the `init` container of the 2nd stateful set pod:
_1st pod of the stateful set does come online fine_

[code]

Here is my cluster definition:

[code]

[2021-01-31 00:23] munjalpatel commented on #614
@luoyangustc were you ever able to solve this? I am having the same exact issue (https://github.com/presslabs/mysql-operator/issues/653). Only major difference between our setup is that I am using a PVC.

[2021-01-31 01:07] munjalpatel commented on #653
Never mind! My installation of operator was corrupted.

[2021-01-31 01:07] #653 closed

[2021-01-31 16:19] MilanDasek opened #654 "image: "mysql:5.6""
Hi,

is there a way how to make this working with image: "mysql:5.6" ?

Currently I get:
[code]
and
[code]

my config:
[code]

thank you

M

[2021-01-31 21:43] munjalpatel commented on #13
Folks, is this on a roadmap? Is there a way for us to manually configure multi-region / cluster topologies?

[2021-02-01 19:22] MilanDasek commented on #654
It seems problem is generated init script /etc/mysql/conf.d/operator-init.sql

[2021-02-04 12:01] munjalpatel opened #655 "WordPress 5.6 does not get installed on job mysql/percona cluster"
Hello,

I am trying to install WordPress 5.6 on basic mysql/percona (default, job, unmodified) cluster.
However, it fails with the following errors:

[code]

Here is my **cluster.yaml**
[code]

cc: @AMecea

[2021-02-04 17:58] elderapo commented on #645
This doesn't seem to work :( After restoring the database locally [this](https://gist.github.com/elderapo/f6879871c201172a2e29ee1cca086818) is what I get at startup. However, when I try recovering the same backup to the cluster (via `initBucketURL`) it works just fine.

I've used the same DB version in the cluster and locally (`percona:5.7.26`).

Any ideas?

[2021-02-04 19:21] #645 closed

[2021-02-06 14:08] munjalpatel commented on #588
@ynnt @AMecea I am also running into the same issue. @ynnt did you ever managed to resolve this?

[2021-02-06 14:15] munjalpatel commented on #638
@cuijxin @jianhaiqing I am also facing the same issue. Did you ever managed to resolve this?

[2021-02-06 14:17] munjalpatel commented on #608
@AlexTr @AMecea I am also running into the same issue. Did you ever resolved this?

[2021-02-06 14:19] munjalpatel commented on #613
@ExiaSR @ynnt I am also running into the same issue. Did you ever resolve this?

[2021-02-06 14:20] munjalpatel commented on #499
@imriss I am also running into this. Did you ever resolve this?

[2021-02-08 01:09] AlexTr commented on #608
@munjalpatel  sorry, I wasn't able to work on in since then, so no solution so far, however I didn't test newer version yet.

[2021-02-09 08:08] zvier opened #656 "mysql-operator-x pod always crash on mac k8s cluster create by talos"
The k8s cluster is install with [talos](https://www.talos-systems.com/blog/easiest-kubernetes-on-a-mac/) on my mac.
[code]

I install this mysql-operator according the README.md example. Everything seems to be going well, but mysql-operator-0 always crash. And I also try install postgres-operator successfully on the same k8s cluster.
[code]

Then, I look at the log about the orchestrator container

[2021-02-09 10:08] zvier commented on #656
The problem the pv path. I will close this issue.

[2021-02-09 10:08] #656 closed

[2021-02-09 15:56] munjalpatel commented on #609
@AMecea I was able to install ServiceMonitor fine and metrics are available in Prometheus.
However, I am not sure how to load them in Grafana. Are there any Dashboards I can load?

[2021-02-10 12:24] elderapo opened #657 "Support for automatic backup rotation"
Currently, it's not possible to set up an automatic backup rotation. Would be awesome if the backup rotation setup was as simple as setting `backupsToKeep: 123` (or some other name) to keep only the last 123 backups.

[2021-02-10 16:06] Wouter0100 commented on #657
That is actually already possible. See `backupScheduleJobsHistoryLimit`.

[2021-02-15 08:31] AMecea commented on #655
Hi @munjalpatel,

This happens because we are setting by default `sql-mode` to `NO_ZERO_DATE` check it [here](https://github.com/presslabs/mysql-operator/blob/6143f1dce6e6c7b3182e65380bb20edff24ae44f/pkg/controller/mysqlcluster/internal/syncer/config_map.go#L240).

You can overwrite that by specifying `sql-mode`:
[code]

Hope this helps!
Best regards,

[2021-02-15 10:35] #647 closed

[2021-02-19 16:25] AMecea commented on #654
Hi @MilanDasek,

Can you point out wherein the generated init script is the problem? The above logs are not helping.

Thank you!

[2021-02-19 17:32] MilanDasek commented on #654
Hello @AMecea

`ERROR: 1064  You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'IF EXISTS sys_operator@'%';' at line 1
2021-02-02 06:59:35 1 [Note] Execution of init_file '/etc/mysql/conf.d/operator-init.sql' ended.`

DROP USER IF EXISTS

percona - which image you recommend ?

```image: percona:5.6.51```

Please, i

[2021-02-22 08:07] AMecea commented on #654
I've checked the MySQL 5.6 user manual and it seems that some statements that we are using are not supported:
 * [DROP USER ~IF EXISTS~](https://dev.mysql.com/doc/refman/5.6/en/drop-user.html) used [here](https://github.com/presslabs/mysql-operator/blob/fbfa9109e3b44a7d2401af6f43624f50aa6ac702/pkg/sidecar/appconf.go#L245)
 * [ALTER USER ... ~WITH MAX_USER_CONNECTIONS~](https://dev.mysql.com/doc/re

[2021-02-22 08:12] MilanDasek commented on #654
Unfortunately not, that 3rd party app is legacy, but very important and supports only 5.6

[2021-02-22 08:18] AMecea commented on #654
If you have any idea of how it should be rewritten, the create user logic from [here](https://github.com/presslabs/mysql-operator/blob/fbfa9109e3b44a7d2401af6f43624f50aa6ac702/pkg/sidecar/appconf.go#L241), in order to work with 5.6 I'm glad to add support for it. Please open a PR and I will review it and merge it.

[2021-02-24 00:45] akovalyov commented on #634
it has been >110 commits to master since last tag, would be great to have a tag.

[2021-02-25 08:49] AManMustHaveACode commented on #648
same problems, is anyone has a sloution?

[2021-02-25 13:13] #657 closed

[2021-03-02 05:47] 51qzpw commented on #548
@AMecea
Thank you, I have tried it on Ali oss. According to your configuration file, it can be backed up successfully. One thing to note is that the fixed format of "backupURL" in example-backup.yaml is "s3://bucketName/path/". Cannot be written as "oss://bucketName/path/"

[2021-03-02 09:09] Coder63 commented on #638
+1. Facing same issue.

mysql> show slave status;
Empty set (0.00 sec)

[2021-03-03 22:55] vvkolesnikov commented on #549
@AMecea  Have any news? I used k8s 1.19 and 1.20 cluster and have this problem too.

[2021-03-05 10:45] #627 closed

[2021-03-07 15:03] usernameisnull opened #661 "What does this line of code do"
in `mysql-operator/pkg/controller/mysqlcluster/mysqlcluster_controller.go`

[code]
I don't understand

[2021-03-07 19:05] AMecea commented on #661
Hi @usernameisnull, This line is there only to ensure that `struct ReconcileMysqlCluster` implements the `reconcile.Reconciler` interface.

[2021-03-08 02:37] usernameisnull commented on #661
thank you,I get it

[2021-03-08 02:37] #661 closed

[2021-03-08 12:51] HZ89 commented on #654
I run a percona 5.7 image also have this error

[2021-03-09 08:02] hmilkovi commented on #492
Same issue here also I tried to reinstall everything and it happend 10/10 times....

[2021-03-09 10:40] rstefan1 opened #662 "Bump golangci_lint version"

[2021-03-09 12:30] hmilkovi commented on #492
Gah needed to use `echo -n` I had trailing newline....

[2021-03-09 12:31] hmilkovi commented on #492
Can you please add strip on all ENV vars in secret?

[2021-03-10 06:05] #549 closed

[2021-03-10 10:09] AMecea commented on #652
Hi @munjalpatel, The upgrade to `controller-tools@v0.5.0` fixed this problem. This was fixed in #660.

Please let me know if this is still an issue.
Best regards,

[2021-03-10 10:09] #652 closed

[2021-03-12 00:25] elderapo opened #665 "Failed automatic backup"
I just experienced this for the first time. No idea why it happened and what might be the cause.

[code]

[code]

[code]

Will update if I manage to reproduce.

[2021-03-15 01:33] HZ89 opened #666 "percona 5.7 image with a empty volume"
I run a percona 5.7 image with a empty volume have this error
[code]
This is the first time mysql is started, why should check `/var/lib/mysql/xtrabackup_binlog_info` this file?

I changed pkg/sidcar/util.go to this:
[code]
than every thing is fine, should I create a PR?

[2021-03-16 16:11] AMecea commented on #666
Hi @HZ89, that error is not an error :smile:

When initializing from a backup we should set the `PURGE_GTID`, checkout more about restoring an xtrabackup [here](https://www.percona.com/doc/percona-xtrabackup/2.4/howtos/recipes_ibkx_gtid.html#step-4-configure-and-start-replication). Indeed in the case of a fresh start, that file doesn't exist, so we don't have to do anything.

Yes, please open a PR

[2021-03-17 15:21] elderapo commented on #586
@TonyBogdanov did you manage to add `ProxySQL` support by embedding it into `precona` docker image? If so would you mind sharing that dockerfile? :)

[2021-03-18 07:49] jicki opened #668 "helm v2 crd-install apiextensions.k8s.io/v1 does not work"
helm v2  crd-install apiextensions.k8s.io/v1 does not work

[2021-03-18 11:07] leovanhaaren commented on #644
@AMecea When do you think a new release is to be expected or how we can use the unreleased mysql 8 support?

[2021-03-19 09:22] LERSONG commented on #615
it worked

[2021-03-20 05:18] KlavsKlavsen opened #670 "Documentation: Failover in multi-zone clusters?"
Hi guys,

After researching mysql operators a bit - yours look very interesting - and using a very cool orchestrator which seems to have the support needed to handle multi-zone clusters failover.

I can't find any documentation on this.. How is failover (from active master - to a slave) initiated and what can be controlled?
How is split-brain scenarios handled? (in multi-site setup - each cluster

[2021-03-20 05:21] KlavsKlavsen commented on #670
I see orchestrator has some docs on options.. but which do you use/support? https://github.com/openark/orchestrator/blob/37a9a30efe6d8419889e8fb2dedd1ed87b338d2b/docs/high-availability.md

[2021-03-23 08:44] pickfire commented on #349
This is not a fix but just a workaround, can you please reopen the issue? We always have the issue such that the namespace is the only thing left but all the pods and stuff are deleted, and presslab finalizer is always there, it only creates it and never deletes it. Is there a way to not manually remove the finalizer by hand? We remove all stuff by `kubectl delete -k deploy/overlays/dev/`.

[2021-03-24 08:58] olakunleoladimeji commented on #668
perhaps your k8s version is old? something like 1.15?

[2021-03-25 00:05] helloguille commented on #625
Hi,

I'm having the same issue. Cluster created (1 replica). Only a PVC gets created for the operator, but not for the cluster itself.

When I recreate the pod, all the data is lost.

Kubernetes version: 1.20.2-gke.2500

[2021-03-25 01:18] jicki commented on #668
my k8s version  1.17    helm  version  2.16.6

Modifying apiVersion directly does not work

git  tags  v0.5.0-rc1  works

[2021-03-25 16:55] rachitmanit commented on #639
Still happening at:
`Server version: 5.7.33-36-log Percona Server (GPL), Release 36, Revision 7e403c5`

[2021-03-25 20:11] hmilkovi commented on #648
Same problems here

[2021-03-26 08:53] rachitmanit commented on #639
For me above issue got resolved using **percona:5.7.26** image with MysqlCluster

[2021-03-28 09:42] xdimedrolx commented on #615
I have the same problem for v0.5.0-rc.2. My environment: k8s 1.17.9, persistent storage - OpenStack Cinder.

[2021-03-29 07:50] hmilkovi commented on #634
I use it like this:
`    helm install mysql-operator presslabs/mysql-operator --version=0.5.0-rc.2 \
    --set antiAffinity="hard" \
    --set ApplyMySQLPromotionAfterMasterFailover=true \
    --set orchestrator.image="quay.io/presslabs/mysql-operator-orchestrator:v0.5.0-rc.2" \
    --set image="quay.io/presslabs/mysql-operator:v0.5.0-rc.2"`

[2021-03-29 16:25] Leen15 commented on #634
@hmilkovi I'm able to start the helm with your command, but I'm not sure the mysql version is up to date on a new cluster created.
In the specific, the #543 is still present.
The image used by the operator for start mysql is something like:
`percona@sha256:68dad5e2efeb6893e2d7d116a1eae144f2c641c17d00e7869397395590c91651`
Maybe is still the old one?

[2021-03-30 09:15] Leen15 commented on #543
Hi,
I think this issue is not resolved, maybe due to mysql 8 support that restored the sql-mode to the previous one:

https://github.com/presslabs/mysql-operator/blob/master/pkg/controller/mysqlcluster/internal/syncer/config_map.go#L239-L240

[2021-03-30 11:34] lizhiyong2000 commented on #648
I have a similar problem , but the log id different
E0330 11:30:34.254657 1 leaderelection.go:325] error retrieving resource lock mysql-operator/mysql-operator-leader-election: leases.coordination.k8s.io "mysql-operator-leader-election" is forbidden: User "system:serviceaccount:mysql-operator:presslabs-mysql-operator" cannot get resource "leases" in API group "coordination.k8s.io" in the namespace

[2021-03-30 12:22] lizhiyong2000 commented on #648
add below code in role.yaml, then above errors disappear

- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update

[2021-03-31 08:11] Rick-yi opened #672 "no matches for kind "MysqlUser" And "MysqlDatabase""
ERROR  controller-runtime.source       if kind is a CRD, it should be installed before calling Start   {"kind": "MysqlUser.mysql.presslabs.org", "error": "no matches for kind \"MysqlUser\" in version \"mysql.presslabs.org/v1alpha1\""}
ERROR   controller-runtime.source       if kind is a CRD, it should be installed before calling Start   {"kind": "MysqlDatabase.mysql.presslabs.org", "error": "no ma

[2021-04-01 15:43] hmilkovi commented on #665
Seems like sidecar crashed.
Try to validate if sidecar is up and running and if you can connect to it via Service port-forward.

[2021-04-01 15:46] hmilkovi commented on #665
Also notice if sidecar is up but Service resource is not accessible try to restart kube-proxy and kube-dns pods.
On some k8s versions I had issues with Service but not with operator itself.

[2021-04-03 13:04] imriss commented on #499
@munjalpatel , at the time, the workaround was to delete (restart) mysql-0 pod. It could have been related to the timeouts (maybe the same for https://github.com/presslabs/mysql-operator/issues/406).

[2021-04-06 15:06] HendrikRoehm commented on #416
This is a serious bug, which is not resolved yet. In my case, the mysql container was not ready.

After ssh-ing into the mysql container and manually executing `UPDATE sys_operator.status SET value="1" WHERE name="configured"`, the pod turned ready for me...

[2021-04-06 15:12] HendrikRoehm commented on #416
One side note: We had two instance with more than 10mb of data and one with approx. 1.5mb of data. The one with 1.5mb of data completed the readiness check successfully as the only one.

[2021-04-07 15:18] ynnt opened #673 "New cluster doesn't happen to end up in orchestrator"
Cluster is stuck in Ready: False phase because mysql pod never gets Ready.

[code]

[2021-04-09 02:12] jicki commented on #668
change the CRD apiVersion to  *apiextensions.k8s.io/v1beta1*

[code]

[2021-04-09 03:49] jicki commented on #673
Same problem

[2021-04-09 07:22] jicki commented on #646
me too

[code]

[2021-04-12 12:46] hmilkovi commented on #416
This also happens to me but my reason was:

2021-04-12T12:37:47.046521Z 0 [ERROR] mysqld: Table './mysql/user' is marked as crashed and should be repaired
2021-04-12T12:37:47.046700Z 0 [Warning] Checking table:   './mysql/user'
2021-04-12T12:37:47.046713Z 0 [ERROR] 1 client is using or hasn't closed the table properly
2021-04-12T12:37:47.047198Z 0 [ERROR] mysqld: Table './mysql/db' is marked as cr

[2021-04-12 12:48] hmilkovi commented on #416
Maybe on startup run: mysqlcheck -uroot -pbla --repair --all-databases

[2021-04-13 12:24] hmilkovi commented on #416
Same here and it's easy to reproduce:
`kubectl delete pod ha-mysql-db-mysql-0 --grace-period=0 --force`

[2021-04-14 15:10] Mustache84 commented on #416
reproducible here too

[2021-04-16 13:52] #666 closed

[2021-04-16 19:06] haslersn commented on #416
@HendrikRoehm Can `configured` have different values in different Pods of the same MySQL cluster? Are these from different (local) databases? So do I need to do this workaround in multiple Pods?

[2021-04-16 19:37] HendrikRoehm commented on #416
@haslersn I don't really know as I am no expert on this. In my case this was a small test mysql instance with no replication and thus only 1 pod. I would guess that you should set it on the master instance of the mysql cluster if there are multiple instances.

[2021-04-17 11:47] rachitmanit commented on #673
Facing same issue.
**Operator version**: 0.5.0-rc.2

[2021-04-21 08:46] neumantm commented on #435
Does this option only delete the job, or is the backup itself also deleted?

[2021-04-21 09:21] jserviceorg commented on #435
Only the finished job

Tim Neumann ***@***.***> schrieb am Mi., 21. Apr. 2021, 10:47:

[2021-04-21 11:41] neumantm opened #674 "[Docs] Better document backupScheduleJobsHistoryLimit"
I think the documentation of `backupScheduleJobsHistoryLimit` under [cluster-configuration-overview](https://github.com/presslabs/mysql-operator/blob/677a2ce5d364270604b8a0645e19a7df742f36f1/docs/deploy-mysql-cluster.md#cluster-configuration-overview) is poor.

From the documentation i get the feeling that the old backups themselves are deleted, too.
But the name suggests that only the backup jobs

[2021-04-25 18:47] elderapo commented on #565
I just experienced a similar issue (well it happened 3 weeks ago but now I just realized that my slave is out of sync :hand_over_mouth:).

[code]

[2021-04-27 20:51] elderapo opened #675 "Init a cluster from a backup that is no longer in the s3 bucket"
How would one go about it? Is there a way to create a backup "instance" in a new cluster so I can just upload backup from another k8s cluster?

The only hack I can think about is something like this:
1. Create a fresh temporary mysql cluster.
2. Create a backup of the temporary mysql cluster.
3. Replace backup content in the s3.
4. Delete temporary mysql cluste.
5. Create the `final cluster from t

[2021-04-29 21:19] nigh8w0lf commented on #673
Yes and logs in orchestrator show - Unable to determine cluster name

This is for a brand new cluster

[2021-04-29 21:21] nigh8w0lf commented on #673
deployed the cluster in a different namespace and also tried in same namespace as operator, same result.
Also tried changing the name of the cluster but has same issues as above.

[2021-04-30 10:02] elderapo commented on #675
Seems like all I needed to do was to upload `*.xbackup.gz` to the s3 bucket and then just set correct `initBucketURL`.

[2021-04-30 10:02] #675 closed

[2021-04-30 15:30] haslersn opened #676 "All MySQL clusters down. orchestrator: ERROR database disk image is malformed"
We were running mysql operator for a few months. We run a single operator Pod, i.e the orchestrator is not HA.

Now suddenly, all of our mysql clusters have no master anymore. All replicas are labelled with `role=replica`. The orchestrator shows the following log. This specific log was taken from a fresh operator Pod restart:

[code]

Questions:

- How to debug this?
- In case the persistent data

[2021-05-02 00:43] sagikazarmark opened #677 "Use tagged versions in the Helm chart"
Hey there! Thanks a lot for this operator!

Currently the Helm chart installs the operator with `latest` image tags. I don't think this is a good practice (especially with the image pull policy defaulting to `IfNotPresent`).

I'd suggest using the operator version in the chart as image version by default in the next release.

For example, I'm using these values at the moment:

[code]

[2021-05-03 18:02] AlexVanderbist opened #678 "Grafana dashboard for Prometheus metrics"
Is there a grafana dashboard available for the exposed metrics? I tried looking in the rest of the Presslabs stack, assuming it must be somewhere in there but couldn't find anything.

Thanks!

[2021-05-04 23:36] ViktorBarzin commented on #497
+1 on this issue. Here is the output of `mysql-init-only`

[code]

[2021-05-11 03:45] dbaicss opened #679 "how to config MysqlCluster's container image to use a custom mirror registry"
The conf of statefulset and kind of MysqlCluster as follows:
![image](https://user-images.githubusercontent.com/45416253/117755225-68c70a00-b24e-11eb-8c90-aadbb4357641.png)

[2021-05-11 22:27] bootc opened #680 "Annotations and labels for backup pods"
It seems there is no way to attach labels and annotations to pods created for backup jobs. This would be useful for using e.g. Kiam or kube2iam to supply AWS credentials.

[2021-05-20 08:15] cndoit18 commented on #638
I have solved this problem, but I need more elegant implementation. need some time

[2021-05-20 08:15] cndoit18 commented on #638
/assignee @cndoit18

[2021-05-20 08:50] cndoit18 opened #682 "The log system migrates from zapr to klog"
After I changed to use the klog, the controller has no to throw panic, maybe we can use the klog

[2021-05-21 04:52] cndoit18 opened #684 "Support Volume Resize"
[statefulset volume resize](https://github.com/kubernetes/enhancements/pull/1848)'s proposal has not passed, so you can't directly modify statefulset to implement volume resize.

[2021-05-21 06:17] cndoit18 opened #685 "Support semi-sync"
Support semi-sync

[2021-05-21 10:19] cndoit18 commented on #682
cc @AMecea @calind

[2021-05-24 06:57] lizhongxuan opened #687 "The program will panic when mysqluser is deleted"
The program will panic when mysqluser is deleted.
macxuandeMacBook-Pro:.kube macxuan$ kubectl logs -f mysql-operator-0 -nmysql-operator operator
![image](https://user-images.githubusercontent.com/10513552/119309087-675efe00-bca0-11eb-8806-28e3df872e8b.png)

[2021-05-24 07:05] zhongxuan123 commented on #687
Using:
kubernetes v1.19.4
mysqlcluster 0.5.0-rc.2
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 3.10.0-693.el7.x86_64

[2021-05-24 07:05] zhongxuan123 commented on #687
Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)

[2021-05-24 07:48] zhongxuan123 commented on #687
PR: https://github.com/presslabs/mysql-operator/pull/688

[2021-05-24 10:50] iogrids opened #689 "The MySQL server is running with the --super-read-only option"
I am running mysqlcluster with the below configuration

[code]

but why is it I am getting this error

[code]

[2021-06-01 06:59] #689 closed

[2021-06-02 02:42] lizhongxuan commented on #638
@cndoit18  When I update the configuration

[2021-06-04 11:50] lizhongxuan commented on #362
@AMecea  @liyongxian   I have the same problem. Has it been resolved?

[2021-06-04 12:34] lizhongxuan opened #692 "When the mysqlConf is updated and the master node becomes the slave node, the node fails."
The two clusters present different problems. The new master node is OK.
[code]

lzx1 lzx1-mysql-0 log:
[code]

lzx2 log:
[code]

[2021-06-04 12:37] lizhongxuan commented on #692
Using:
kubernetes v1.19.4
mysqlcluster 0.5.0-rc.2
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 3.10.0-693.el7.x86_64

[2021-06-06 15:59] Silvenga opened #693 "Deprecated Helm Hooks Preventing CRD installation"
RE: https://github.com/emissary-ingress/emissary/issues/2057

[code]

The deprecated `crd-install` hook should be removed, although this likely means dropping support for helm 2.

[2021-06-09 02:00] #687 closed

[2021-06-09 07:05] #643 closed

[2021-06-09 07:05] #692 closed

[2021-06-09 07:19] cndoit18 opened #694 "Automatic backups always error out"
Phenomenon:
When creating the mysqlcluster resource, the information for the automatic backup is already filled in. It will cause the backup to be created before mysqlcluster is completed and the backup will always error out

Modify:
Postpone backup creation (until mysqlcluster is ready).

/assign cndoit18

[2021-06-09 10:21] cndoit18 commented on #694
Seems to be the same problem as #665

[2021-06-09 10:26] cndoit18 commented on #638
I think PR #690 can solve this problem

[2021-06-09 10:27] cndoit18 commented on #613
I think PR #690 can solve this problem
cc @munjalpatel @ynnt @ExiaSR

[2021-06-10 10:39] cndoit18 opened #697 "Support Semantic Versioning"
https://github.com/presslabs/mysql-operator/blob/573f14bd883354329865038a6507d94a2fd9218b/Makefile#L1

The current version generation is not a semantic version, which can cause problems when updating the chart version number

[2021-06-16 22:57] apurwaj2 commented on #615
I have the same problem with with k8s version 1.20.2

[2021-06-18 19:42] SF2311 opened #699 "Operator Pods don't get ready after replication"
### Current Setup
We are running an operator deployment defined by this template in namespace `mysql-operator`:
[code]
This works without problems.
Now we want to scale the deployment up by using the following template:
[code]
### Problem
After applying the new template the operator is replicated as expected. But the pods don't get ready anymore:
[code]
By taking a look at the logs I found that th

[2021-06-23 16:05] sagikazarmark commented on #673
I have a similar issue: the cluster starts, but after some time the mysql becomes non-ready and I get the above log message in the operator logs.

[2021-06-24 04:41] apurwaj2 commented on #656
@zvier  Could you elaborate more on how you fixed it? I did not understand the problem with pv path.

[2021-06-30 18:01] apurwaj2 commented on #615
I could move past this hurdle, did not have write permissions on the PV created. Once I changed that I could proceed ahead.

[2021-07-01 13:19] #665 closed

[2021-07-01 13:19] #694 closed

[2021-07-02 03:06] cndoit18 commented on #28
Hello, I would like to know more about this issue so that I can help support this feature. @AMecea @calind

[2021-07-02 08:32] #682 closed

[2021-07-05 08:58] cndoit18 commented on #697
can I use this tool? @AMecea
https://github.com/mdomke/git-semver

[2021-07-09 09:30] cndoit18 opened #708 "KEP: Support for the binlog backups"
TODO

[2021-07-13 06:52] ZhengJuCn opened #709 "schedule backup not stopped , even comment "backupSchedule" & "backupScheduleJobsHistoryLimit" in cluster yaml"
cluster.yaml:
    # backupSchedule: "0 0/1 * * * ?"
    backupURL: s3://mysql-backup/
    backupSecretName: backup-secret
    # backupScheduleJobsHistoryLimit: 3
    # backupRemoteDeletePolicy: delete

NAME                                  AGE
my-cluster-auto-2021-07-13t06-49-00   2m45s
my-cluster-auto-2021-07-13t06-50-00   105s
my-cluster-auto-2021-07-13t06-51-00   45s

[2021-07-13 07:08] cndoit18 commented on #709
check if the data in backupSecretName is right, please

[2021-07-13 08:21] ZhengJuCn commented on #709
@cndoit18 backup is normal,  backup.tar stored in bucket

then i try to delete namespace where mysql-cluster deployed

but  this three mysqlbackup cannot being deleted, cause namespace terminating, cannot deleted

now this 3 mysqlbackup cannot delete anymore,.....

{"severity":"ERROR","timestamp":"2021-07-13T08:12:29.758775929Z","logger":"kubebuilder.controller","message":"Reconciler error","contr

[2021-07-13 08:25] cndoit18 commented on #709
This area does have some problems. Can you use the master branch to verify and see if it still have the problem

[2021-07-13 10:19] cndoit18 commented on #693
good issue

[2021-07-14 09:57] Hchenwy opened #710 "get events none when create MysqlCluster"
exec： kubectl describe mysql my-cluster

And I can‘t  see any pods exclude mysql-operator-0，
exec：kubectl get pods

[2021-07-15 04:20] cndoit18 commented on #710
/good-first-issue 👍

[2021-07-15 09:09] Hchenwy commented on #710
can you help me,? big brother.

[2021-07-15 09:47] cndoit18 commented on #710
I think it's probably not very urgent, we need to focus on stability and functionality

[2021-07-15 09:53] Hchenwy commented on #710
I have find the error in  log,  the parameter in v1alpha1.MysqlClusterSpec.MysqlVersion is string not integer.

[2021-07-15 09:56] cndoit18 commented on #710
This is reasonable, but users should need clearer hints. See: #247

[2021-07-16 13:00] blafasel42 commented on #393
This ticket has been open for some time now. Is there any news on this in the meantime?

[2021-07-16 15:39] AMecea commented on #393
Hi @blafasel42, we have implemented new CRDs that are included in version 0.5.0 which is relased as `0.5.0-rc.3`.

Here are an example of user and database:
https://github.com/presslabs/mysql-operator/blob/master/examples/example-user.yaml
https://github.com/presslabs/mysql-operator/blob/master/examples/example-database.yaml

[2021-07-17 09:55] haslersn opened #711 "Feature request: Add global option to set podAntiAffinity on all MysqlClusters"
This is a feature request to add a global configuration option to MySQL operator to set a podAntiAffinity on all MysqlCluster Pods by default.

## Motivation

This feature would remove the boilerplate which we have due to our workaround (see below). It would also remove the redundancy of having to mention the MysqlCluster's name twice (see below, `example` appears twice).

## Workaround

Our curre

[2021-07-18 06:36] blafasel42 commented on #672
Seems these two are only available in the master branch, not in 0.40. They don't appear in examples in 0.40, too. Does anyone know how to upgrade? helm only sees 0.40.

[2021-07-18 06:49] blafasel42 commented on #393
Hi @AMecea ,thanks for the information.
I tried to upgrade the operator like this:
`helm upgrade --install --version=0.5.0-rc.3 mysql-operator presslabs/mysql-operator`
And now i have:
[code]
But i stll get an error when trying king: MysqlUser or MyslDatabase (copyied form master / examples)
`
unable to recognize "novadex/ndxcc_database.yaml": no matches for kind "MysqlDatabase" in version "mysql.

[2021-07-18 07:02] blafasel42 commented on #393
I checked the operator: it seems to fail readiness probe with http 500. After downgrade to 0.4.0 it works. Upgrading to rc3 reproduces the error:
[code]

logs of orchestrator container says:
[code]

[2021-07-18 07:04] blafasel42 commented on #393
this happens after helm upgrade, before deploying any MysqlDatabase or MysqlUser objects.

[2021-07-19 09:03] Hchenwy commented on #639
后面问题解决了吗

[2021-07-19 10:13] blafasel42 commented on #393
upgrade to 0.5.0-rc.3 did not work for me. controller would not start.

[2021-07-21 13:38] venksel opened #712 "Point-in-time-recovery on Operator 0.4.0"
Hi there,
I'm using Presslabs MySql operator 0.4.0 with Mysql db percona:5.7.29 and I understand point in time recovery is supported.

However, don't see any documentation around how to perform the recovery. It would be great if someone points me in the right direction with the point-in-time recovery documentation.

Thanks folks for your help in advance! Appreciate it.

[2021-07-22 10:47] Maisia opened #713 "Add querylimts option to mysql-cluster chart"
The possibility to use pt-kill was implemented in https://github.com/presslabs/mysql-operator/commit/0cd4bb16866a561ea674165234c290f47f98009f
If someone wants to use it, he needs to add configuration values to values.yaml file and also update cluster.yaml like this:
mysql-cluster/values.yaml
[code]
mysql-cluster/templates/cluster.yaml
[code]
To simplify usage of pt-kill, it would be nice to have `

[2021-07-23 02:06] browol commented on #673
I have this problem too

[2021-07-23 06:11] 123fish opened #714 "MySQL operator runs on k8s 1.13 cluster. The operator reports an error " error initially creating leader selection""
Because k8s version of the current environment does not support 1.16, so modify CRD resource  and MySQL operator is deployed on the cluster of k8s version 1.13, but the operator reports some errors，
“Failed to update lock: the server could not find the requested resource”,
"error initially creating leader election record:the server could not find the requested resource"

Please help answer

[2021-07-23 07:40] cndoit18 commented on #714
The operator does not support k8s 1.13

[2021-07-23 07:42] cndoit18 commented on #712
This should be a very useful feature 👍

[2021-07-23 07:44] cndoit18 commented on #712
Now there should be no support for this

[2021-07-23 14:49] f84anton opened #715 "sidecar spawns a lot of defunct xtrabackup when running backup with wrong aws credentials"
Host can even run out of PIDs because backup job restarts failed POD. Had to delete POD or `docker rm -f <sidecar container id>` to get rid of zombie processes.

sidecar container logs:
[code]

process list:
[code]

[2021-07-26 01:44] 123fish commented on #714
Can I modify the code to be compatible?

[2021-07-26 02:09] cndoit18 commented on #714
You can fork a copy of yourself to make it compatible

[2021-08-07 02:39] abh opened #716 "0.5.0 release?"
Time for a new release? There's a lot of good stuff in the "unreleased" section of the change log! :-)

[2021-08-09 14:22] usernameisnull commented on #515
[code]
do you notice this error in the log? and in the mysql err-log:
[code]

[2021-08-10 21:22] whereismyjetpack commented on #716
I wonder if the rebranding from presslabs to bitpoke is slowing this down, was there an announcement about this that I missed?

[2021-08-11 11:42] milero commented on #716
Hi! We are indeed in the process of completing a transition for the operator and other projects to a new home. It will take a few more days for the process to complete and also for the announcement, so thank you for your patience!

[2021-08-11 12:05] whereismyjetpack commented on #716
Thank you @milero -- we're super looking forward to proper mysql 8.0 support!

[2021-08-11 16:36] cndoit18 commented on #699
Is it possible to report to the [orchestrator](https://github.com/openark/orchestrator) in order to get their help?

[2021-08-11 17:35] cndoit18 commented on #7
👀

[2021-08-20 04:14] cndoit18 commented on #715
/good-first-issue 👍

[2021-08-20 11:21] pchy93 commented on #643
this problem is sloved ?  i still has this issues

[2021-08-23 04:45] dogfei opened #718 "mysql config no slow-log?"
I want to start MySQL slow log, but I don't see this configuration，how do I do?

[2021-08-23 17:52] Jille opened #719 "panic: unexpected empty query -- when creating MySQLUser"
I'm running v0.5.0-rc.3. Kubernetes v1.22.1.

[code]

I just (re)added:

[code]

[2021-08-24 05:21] #708 closed

[2021-08-24 05:25] #685 closed

[2021-09-01 18:33] jmccormick2001 opened #720 "support for k8s 1.22"
Hi, I wanted to see if/when you are going to create a release that will work on k8s1.22?  with the CRD v1beta1 API being removed this prevents the operator from working unless you migrate the CRDs to v1.

[2021-09-02 15:13] ferdinandosimonetti opened #721 "How to configure Secret to ensure DATABASE will be created with a specific CHARACTER SET and COLLATE?"
Hello, I've used this Secret to create a MySQLCluster with pre-created *keycloak database.

`apiVersion: v1
data:
  DATABASE: a2V5Y2xvYWs=
  PASSWORD: a2V5Y2xvYWs=
  ROOT_PASSWORD: bW9vbmV5
  USER: a2V5Y2xvYWs=
kind: Secret
metadata:
  name: keycloak-db-secret
  namespace: mooney-utils
type: Opaque`

The MySQL instance and the database have been created fine, but with **utf8mb4** character set...

[2021-09-06 02:26] runkecheng opened #722 "Cannot set permissions separately for each host of the same user"
Is it possible to put the `allowedhosts` in the user crd into `permissions`?

[2021-09-06 03:07] #722 closed

[2021-09-08 03:12] cuijxin opened #723 "Delete "ONLY_FULL_GROUP_BY" from my.cnf doesn't work"
I have installed the operator on my kuberentes cluster.The operator version is v0.5.0-rc.3, I create a mysql cluster version 5.7. And our customer's sql have a
[code]
problem, so I want to remove the 'ONLY_FULL_GROUP_BY' config from the my.cnf, but, it always add back auto a few seconds later. So if the operator control reconcil a Fixed Content which must have “ONLY_FULL_GROUP_BY” field, How can I

[2021-09-15 08:17] calind opened #724 "Migrate build pipeline"
The build pipeline needs to be migrated to https://ci.bitpoke.io.

[2021-09-15 08:49] milero opened #725 "Change API group"
Switch the API group to mysql.bitpoke.io to reflect the new stewardship of this project.
This is going to be a significant change in the project and have impact on existing users, in the upgrade process.

[2021-09-15 09:10] calind opened #726 "Implement backup policies"
Currently we backup on a simple crontab entry and we keep the last X backups. We should allow for more complex scenarios, like keep the last 24 hourly backups, the last 7 daily backups, and the last 4 weekly backups.

To do this we should deprecate/migrate `backupSchedule`, `backupURL`, `backupSecretName`, `backupScheduleJobsHistoryLimit`, `backupRemoteDeletePolicy` and have a `backupPolicy` entri

[2021-09-15 09:21] calind opened #727 "Migrate backup related pod spec entries from `spec.podSpec` to `spec.backup.podSpec`"
We should move `spec.podSpec.backupAffinity`,  `spec.podSpec.backupNodeSelector`, `spec.podSpec.backupPriorityClassName` and `spec.podSpec.backupTolerations` under `spec.backup.podSpec`.

This, with #726 would move all backup-related stuff under the `backup` key.

[2021-09-15 09:29] calind commented on #575
Closing this in favor of #726 which will get added in 0.6.

[2021-09-15 09:29] #575 closed

[2021-09-15 09:29] calind commented on #173
Closing this in favor of #726 which will get added in 0.6.

[2021-09-15 09:29] #173 closed

[2021-09-17 08:50] cndoit18 commented on #15
I think this is done
cc @calind

[2021-09-22 21:13] worldofgeese commented on #416
We ran into this issue today when running a `helm upgrade`.

[2021-09-23 01:56] #720 closed

[2021-09-23 01:58] #714 closed

[2021-09-23 02:00] cndoit18 commented on #712
repeated issues #7

[2021-09-23 02:00] #712 closed

[2021-09-23 02:01] cndoit18 commented on #709
Hi, Any update?

[2021-09-27 09:46] frjaraur commented on #416
Is there any workaround for this issue?. I manage to make my cluster work updating sys_operator.status manually getting inside mysql pod, and everything goes up, but this is not the right way (if you have to move pod to another node issue will come back again). Does operator manage this value?.

[2021-09-27 11:18] worldofgeese commented on #416
Can @calind take a look at this? This bug wipes out any serious use of this operator.

[2021-09-27 12:47] zhoushuke commented on #653
same problem to me,can you explain how to fix it?

[2021-09-29 08:28] dogfei commented on #673
Same problem

[2021-10-06 08:16] #724 closed

[2021-10-06 08:18] calind commented on #720
Fix released in v0.5.0.

[2021-10-07 10:01] AdnanHodzic opened #732 "WordPress install fails due to database error (--read-only option so it cannot execute this statement)"
I run following commands on a freshly deployed/clean Minikube cluster. Same deployment files and everything else used to work perfectly fine before 0.5.0 release:

I install mysql-operator (`mysql-operator-0.5.0`) using:

[code]

Followed by running the mysql-operator cluster deployment:

[code]

After which I run WordPress deployment which now fails during the Installation process due to followin

[2021-10-07 20:04] #732 closed, assigned to nobody

[2021-10-08 07:57] #615 closed

[2021-10-11 10:42] calind commented on #711
Hi @haslersn, we would gladly accept PRs for a `ConfigMap` or a dedicated CRD for holding default mysql-operator configs, eg. `mysql.presslabs.org/MySQLOperatorConfig`. If you want to take a shot I'd happily discuss and review it.

[2021-10-11 10:46] calind commented on #699
@SF2311 this still happens with 0.5.0?

[2021-10-11 10:49] calind commented on #697
I think it's a good idea. Can you make a PR against https://github.com/bitpoke/build which is the build system used by MySQL operator. The versioning logic is in `makelib/common.mk`.

[2021-10-11 11:01] #677 closed

[2021-10-11 11:17] calind commented on #672
We've released v0.5.0. Note that the repository has changed to https://helm-charts.bitpoke.io (see the v0.5.0 release notes).

Also, you can manually install CRD from https://github.com/bitpoke/mysql-operator/tree/master/deploy/charts/mysql-operator/crds.

[2021-10-11 11:18] calind commented on #655
Closing this. Please reopen if it doesn't work for you.

[2021-10-11 11:18] #655 closed

[2021-10-11 11:31] calind commented on #638
Closing this as PR is merged and released under v0.5.0. Please reopen if it's still the case.

[2021-10-11 11:33] #623 closed

[2021-10-11 11:37] calind commented on #614
Just released v0.5.0. Check release notes at https://github.com/bitpoke/mysql-operator/releases/tag/v0.5.0.

Please reopen if issue still persists.

[2021-10-11 11:37] #614 closed

[2021-10-11 11:38] #610 closed

[2021-10-11 11:40] #529 closed

[2021-10-11 12:32] #406 closed, assigned to nobody

[2021-10-11 12:39] #15 closed, assigned to nobody

[2021-10-11 12:40] calind commented on #10
Closing this as ProxySQL is not a priority ATM. If someone wants to implement it we are open discussing it.

[2021-10-11 12:40] #10 closed

[2021-10-13 18:24] tebaly opened #737 "s3 Scaleway backup"
How to setup s3 Scaleway backup? Is it possible?

I try

[code]

This did not work

[code]

[2021-10-13 19:02] haslersn opened #738 "Documentation: How to upgrade from 0.4 to 0.5"
I can't find any documentation about upgrading mysql-operator from 0.4 to 0.5.

[2021-10-14 04:51] cndoit18 commented on #699
https://github.com/bitpoke/mysql-operator/blob/master/docs/operator-upgrades.md
hi, you can refer to `v0.3.x upgrade`

[2021-10-14 04:59] cndoit18 opened #739 "Use helm-docs to generate chart README.md"
https://github.com/norwoodj/helm-docs

I have tried to use this tool to generate `README.md` for the chart, and we can also consider using this tool.

[2021-10-14 14:45] tebaly commented on #737
backupURL: s3://<<my bucket name>>

[2021-10-14 14:45] #737 closed

[2021-10-20 03:21] clcc2019 opened #740 "operator-init sql error on mysq 5.6"
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'IF EXISTS sys_operator@'%'' at line 1

![image](https://user-images.githubusercontent.com/46099295/138022937-3c439ccc-6c9a-4a24-a660-3dffac38199d.png)

[2021-10-20 20:48] haslersn opened #741 ""templates/layout" is undefined after upgrade to v0.5.1"
I upgraded mysql-operator from 0.4.0 to 0.5.1. Now, when accessing the orchestrator web UI, I get redirected to `/web/clusters` where I obtain a response with status code 500 and payload:

[code]

[2021-10-21 07:53] navist2020 opened #742 "I'm having some problems with MYSQL 8"
I want to start a mysql8 cluster.
But the following error occurred. Use `kubectl logs <podName> -c mysql`:
[code]
I am using the latest master branch code in https://github.com/bitpoke/mysql-operator/tree/master/deploy/charts
And I only changed the following

`deploy/charts/mysql-operator/values.yaml`
[code]
`deploy/charts/mysql-cluster/values.yaml `
[code]
Is there something wrong with the way I

[2021-10-22 02:07] navist2020 commented on #742
@cndoit18 Hi
I dont use storage. this is yaml
[code]

[2021-10-24 05:31] codebard opened #743 "Trying to mount a path from an existing NFS (Google Filestore) to /var/lib/mysql and conf dirs"
Im trying to launch a cluster by using Google Filestore as the MySQL datadir, conf and any other needed directories. The operator's doc provides examples for only PVC, hostpath and emptydir, but in CRDs it seems like specifying volumes and then mounting them to containers seem possible. CRDs also seem to specify a NFS option.

Is there a legitimate way to use a mounted volume (from nfs), or direct

[2021-10-27 02:18] lizhongxuan opened #744 "mysql-operator can't leader election"
mysql-operator  error:
Warning  Unhealthy  3m50s (x61 over 13m)  kubelet            Readiness probe failed: HTTP probe failed with statuscode: 50
![(kduserev-kcetesti-kme -)$ kubectl pet pod -nkae-systen](https://user-images.githubusercontent.com/10513552/138988436-2b2a6f33-ce43-4a3e-a1c7-a52c4c16d9c7.png)
0

mysql-operator-0 orchestrator log:
![(martini〕 Completed 508 Internal Server Error in 560

[2021-10-28 09:16] Algeran opened #745 "custom labels and annotations for secret and backup secret"
Will be good to have an option to add custom labels and annotations to created secret and backup secret. We have deployed banzai webhook in our k8s clusters and it configured to mutate vault secrets only in objects that marked with specific label.

[2021-10-28 10:01] #745 closed, assigned to nobody

[2021-11-02 04:53] tebaly commented on #416
## To solve this either use helm upgrade --reuse-valuesor specify the orchestrator password. We recommend specifying the orchestrator password.

Maybe this?

[2021-11-03 08:16] tebaly opened #748 "Ingress extensions v1beta1 not supported"
Hello. On default installation `orchestrator.ingress` thtow error. It try install Ingress **v1beta1** - it is deprecated and no longer supported

https://github.com/bitpoke/mysql-operator/blob/0e3e4438f2bfbd77ce15060d77fe4cf2455ee99b/deploy/charts/mysql-operator/templates/orc-ingress.yaml#L3

[2021-11-04 07:28] #748 closed

[2021-11-06 13:33] SF2311 commented on #699
Yes we are running Kubernetes v1.19.
After the upgrade to v0.5.1 of the operator the problem persists.

[2021-11-11 04:00] hellyhe commented on #742
percona 8.0  create mysql user with id 1001
[code]
mysql-operator-sidecar-8.0 create user mysql with uid 999 , so mysqld will run as non mysql account.

[2021-11-12 08:20] cndoit18 commented on #699
My solution was to actively delete all the MySQL operator pods after the upgrade.

[2021-11-12 16:39] SF2311 commented on #699
Did this solve the problem in the long term?
Because the first four days after the upgrade the operator worked fine, but then spontaneously the replication failed. So I'm not convinced that deleting the pods will fix this long term for me.

[2021-11-13 21:22] abh commented on #741
thanks @haslersn; that fixed it for me as well.

[2021-11-13 21:32] abh opened #753 "CRD error on 1.20.11"
Applying the CRD from the repository gives me this error:

`The CustomResourceDefinition "mysqlclusters.mysql.presslabs.org" is invalid: spec.preserveUnknownFields: Invalid value: true: must be false in order to use defaults in the schema`

[2021-11-15 11:20] #697 closed

[2021-11-16 11:20] kahirokunn opened #756 "Change the service account name of the Pod created by the Mysql Backup Job to any."
We would like to be able to select a configuration that uses OpenID Connect federation for storage authentication.
https://kubernetes.io/ja/docs/reference/access-authn-authz/authentication/

For example, AWS IRSA also uses the OpenID Connect federation.
https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

[2021-11-16 23:43] cndoit18 commented on #597
#751
I think this PR will solve the problem, I will close this issue. if you already have this problem in the latest version, feel free to reopen it

[2021-11-16 23:43] #597 closed

[2021-11-18 09:16] cndoit18 opened #761 "The default configuration of MySQL should be visible"
The `conf` information should be stored in `mysqlcluster.spec` by default.
The current implementation results in a lot of configuration being recorded very obscurely in the code.

[2021-11-20 06:45] kahirokunn opened #762 "When will the alpha version of 0.5.2 be released?"

[2021-11-22 03:35] clcc2019 opened #763 "mysql-operator init error"
<img width="1471" alt="image" src="https://user-images.githubusercontent.com/46099295/142797136-ac670dcd-a233-4187-8f09-6f01d428c4b4.png">
<img width="669" alt="image" src="https://user-images.githubusercontent.com/46099295/142797163-858ea564-8b69-4464-9342-f95957846f4e.png">

[2021-11-22 07:22] clcc2019 opened #764 "root user login failed"
<img width="497" alt="image" src="https://user-images.githubusercontent.com/46099295/142819894-9dd46d5a-f0b8-44c4-8bfd-dbde060614f8.png">

[2021-11-22 07:54] clcc2019 commented on #764
<img width="1165" alt="image" src="https://user-images.githubusercontent.com/46099295/142823096-13da3d0c-51e2-4cb4-b6c2-4207745683b9.png">
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/46099295/142823233-844254df-e94b-4d1d-b043-11aab69ae8df.png">
<img width="911" alt="image" src="https://user-images.githubusercontent.com/46099295/142823292-b033c98a-4ff6-4502-aa49-64d

[2021-11-22 09:49] clcc2019 opened #765 "init error"
<img width="1502" alt="image" src="https://user-images.githubusercontent.com/46099295/142839503-20238c46-b84a-43a4-b3ec-caf391d51faa.png">
<img width="566" alt="image" src="https://user-images.githubusercontent.com/46099295/142839536-75d41966-4fa5-4603-b149-32cf5aaa62da.png">

[2021-11-22 11:31] calind commented on #763
Can you please try running the operator with 3 replicas. Orchestrator might fail initializing when even number of nodes are present. You should redeploy with 3 relplicas so that you get 3 services `mysql-operator-0-svc`, `mysql-operator-1-svc` and `mysql-operator-2-svc`.

[2021-11-22 11:32] calind commented on #764
Can you give the steps used to deploy so we can test. Thanks!

[2021-11-23 00:48] clcc2019 commented on #763
Still wrong
<img width="696" alt="image" src="https://user-images.githubusercontent.com/46099295/142956005-6c309a7f-38f0-420a-a9cb-509529e9b941.png">
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/46099295/142956038-85f7ec3b-9b86-43fa-90a0-771d1684ad70.png">
<img width="1013" alt="image" src="https://user-images.githubusercontent.com/46099295/142956065-214c691b-dc5a-4

[2021-11-23 00:54] clcc2019 commented on #764
1、use helm v3 install operator v0.5.1
2、Then install mysql cluster

helm. values.yaml
[code]

mysql cluster.yaml

[code]

[2021-11-23 01:44] clcc2019 opened #766 "Cluster master selection problem"
At the same time delete the cluster pod, orchestrator will record the last master node address, when the masters switch to a non-first copy, the new pod can not be connected to the master, causing the cluster to fail

[2021-11-23 08:25] clcc2019 opened #767 "How to correctly configure the backup path"
<img width="1509" alt="image" src="https://user-images.githubusercontent.com/46099295/142990861-a8b0e0b7-d201-498f-876e-600805f181fe.png">
<img width="300" alt="image" src="https://user-images.githubusercontent.com/46099295/142990930-a240f6f3-a6f6-4809-8372-7b775a8f6391.png">

[2021-11-23 08:39] lizhongxuan opened #768 "Don't let CRD affect the instance"
When CRD is deleted, the mysql instance is deleted. I think we should reduce the impact of all environments on mysql instances.

[2021-11-23 09:00] #741 closed

[2021-11-23 09:05] cndoit18 commented on #768
I think this is the desired result.

[2021-11-25 03:19] mazizang commented on #763
![image](https://user-images.githubusercontent.com/95007533/143373825-1ae14db2-215d-42f5-bd8e-39ac6e85c8e7.png)
seems we got the same problem
k8s:1.18.5
helm: 3

[2021-11-25 03:21] mazizang commented on #763
![image](https://user-images.githubusercontent.com/95007533/143374070-d90fc768-e00b-4111-a3ac-f33407740b4c.png)
and this is log from orc

[2021-11-25 04:00] mazizang commented on #763
seems like all the operator pod vote for themselves,lol, that's cute

[2021-11-25 14:57] Isakgicu opened #770 "Allow to set resources limits/requests for pt-heartbeat container"
For now, under "podSpec" - there is no way to set resources limits and requests for pt-heartbeat container from mysqlcluster's statefulset.

Please add option for pt-heartbeat like mysqlOperatorSidecarResources and metricsExporterResources.

[2021-12-06 09:04] kahirokunn commented on #762
done
https://github.com/bitpoke/mysql-operator/compare/v0.5.1...v0.5.2

[2021-12-06 09:04] #762 closed

[2021-12-06 12:49] pbolle commented on #742
what is the solution to the problem? build your own mysql image?

[2021-12-07 08:32] calind commented on #738
https://www.bitpoke.io/docs/mysql-operator/operator-upgrades/#v05x-upgrade

[2021-12-07 08:32] #738 closed

[2021-12-07 08:44] vertee opened #771 "It does't work when I use minio as the storage of mysql backup"
### **operator version: 0.5.3, 0.5.0-rc.3**
mysqlbackup.yaml
[code]
mysqlbackup-secret.yaml
[code]
backup job log
[code]

[2021-12-08 03:50] vertee opened #772 "the s3 remote request url added the bucket when rclone push file to remote stoage"
my s3 endpoint is http://10.39.50.109:31357，why change it to http://mysql-cluster.10.39.50.109:31357/
[code]

[2021-12-08 04:22] #772 closed

[2021-12-08 04:22] #771 closed

[2021-12-08 07:10] calind commented on #753
This is fixed in b425626f23f4fd2438108f7a0472c71f26fe22f7 and released in v0.5.3.

[2021-12-08 07:10] #753 closed

[2021-12-10 08:40] calind commented on #763
There will be some changes in the way the services are handled in the helm chart which will land in v0.6.0 in a few days, that I think will solve these issues.

[2021-12-14 03:42] navist2020 opened #774 "Change BackupRemoteDeletePolicy but didn't work"
If I specify under crontab to take backups. I noticed that the following fields need to be set
https://github.com/bitpoke/mysql-operator/blob/d8ec7b442aa2130a406442e58396336b555ff13b/pkg/apis/mysql/v1alpha1/mysqlcluster_types.go#L74-L96
When I edit the `BackupRemoteDeletePolicy` (The default is `retain` but I want to change it to `delete`). This modification didn't work.The `remoteDeletePolicy` in

[2021-12-14 03:51] navist2020 commented on #774
`BackupURL` and `BackupSecretName` are both set in `MysqlBackup` controller,  and they work fine after modification.
https://github.com/bitpoke/mysql-operator/blob/d8ec7b442aa2130a406442e58396336b555ff13b/pkg/internal/mysqlbackup/defaults.go#L24-L30
But `BackupRemoteDeletePolicy` is set in `MysqlBackupCron` controller
https://github.com/bitpoke/mysql-operator/blob/d8ec7b442aa2130a406442e58396336b5

[2021-12-14 14:49] tebaly opened #775 "Upgrade to 0.6.0 error"
Hello

After upgrade from 0.5.3 to 0.6.0

[2021-12-14 16:02] calind commented on #775
Hi, @tebaly!

The upgrade to 0.6.x will probably require uninstalling the previously installed operator. Note that 0.6 is just alpha at the moment.

[2021-12-19 22:08] tebaly opened #776 "Doc: Specify how to recreate the clucter"
Hello

# 1. How change Storage capacity

After change MysqlCluster _spec_  requests.storage - nothing happened

# 2. How change initBucket (dump data)

After change MysqlCluster _spec_  initBucketURL - nothing happened

# 3. How remove MysqlCluster

Sometimes need to delete **finalizers** - but it is not written about it anywhere

[2021-12-20 03:27] navist2020 commented on #774
I think the cause of the problem may be here.
This function could add a logic to compare whether `j.BackupRemoteDeletePolicy` is the same or not
https://github.com/bitpoke/mysql-operator/blob/d8ec7b442aa2130a406442e58396336b555ff13b/pkg/controller/mysqlbackupcron/mysqlbackupcron_controller.go#L154-L199
Or we can set the default value of `RemoteDeletePolicy` in this function.
https://github.com/bit

[2021-12-20 07:44] tebaly opened #777 "Big problem on import mysql dump"
Hello.

I am trying to import a data dump. After 1-2 minutes pod restart several times in a row

[code]

[2021-12-20 08:30] tebaly commented on #777
Wery similar to
https://forums.percona.com/t/fresh-instance-with-percona-xtradb-cluster-operator-v1-8-0-not-starting-completly-under-okd/10415/12

## I change calico to cilium, and error gone

**BUT** - https://forums.percona.com/t/fresh-instance-with-percona-xtradb-cluster-operator-v1-8-0-not-starting-completly-under-okd/10415/22

Maybe it matters

[2021-12-21 22:47] enoliveira commented on #648
Still an issue. Any update? I'm using latest version.

[2021-12-21 22:58] enoliveira commented on #648
@AMecea I just redeployed the Mysql Operator and it worked. Thanks.

`
helm repo add presslabs https://presslabs.github.io/charts
helm install mysql-operator presslabs/mysql-operator
`

[2021-12-21 23:39] enoliveira opened #778 "How do create first backup(xbstream)"
Hi.

I have a VM running MySQL. I want to create a backup and deploy MysqlCluster on k8s.

I tried to create the xbstream.gz like:

[code]

But it fails when restoring. Any idea? Thanks,

[2021-12-22 06:15] kahirokunn opened #779 "In 0.6.0, the image tag expected v0.6.0, but in reality 0.6.0 is used."

[2021-12-22 14:57] enoliveira commented on #742
I'm using this and it is failing.

[code]

[code]

[2021-12-22 17:54] enoliveira commented on #779
[code]

[2021-12-23 10:09] calind commented on #779
This is fixed in [v0.6.1](https://github.com/bitpoke/mysql-operator/releases/tag/v0.6.1). Thanks for reporting!

[2021-12-23 10:09] #779 closed

[2021-12-24 18:53] codebard commented on #416
Just encountered this with a cluster whose node was recycled. This killed my plans to use this operator in production. Had to move on.

[2021-12-24 22:50] tebaly commented on #416
https://github.com/bitpoke/mysql-operator/issues/777#issuecomment-997704788

 Are you sure it has nothing to do with **calico**? In my case, the problem with this

[2021-12-27 23:19] haslersn opened #780 "Operator should set seccompProfile RuntimeDefault"
The operator should add

[code]

to the spec of created Pods in order to be compatible with the Restricted policy of [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) (previous to Kubernetes 1.22 where the `SeccompDefault` feature gate hits alpha).

[2021-12-28 17:40] sgavrylenko commented on #407
Hi there,
I found this function in https://github.com/bitpoke/mysql-operator/blob/52a868d7ed381269bd276ef3a7a2466f0d1bb2ad/pkg/controller/mysqlcluster/internal/syncer/secret_operated.go#L81

Does it mean that this issue can be closed?

[2022-01-01 12:31] jgillich commented on #537
@AMecea Can I submit a PR to either remove it or make its name configurable through cluster spec (backwards compatible)? I was planning to run multiple clusters in the same namespace.

[2022-01-05 06:12] mazizang commented on #416
our production enviroment is using flannel, same problem

[2022-01-05 06:13] mazizang commented on #416
@tebaly
our production enviroment is using flannel, same problem

[2022-01-06 06:43] olakunleoladimeji opened #781 "Setting serviceMonitor.enabled = true for the mysql-operator chart does not work"
Enabling the operator service monitor as below:
[code]
causes the deployment to fail with the following error
[code]

I was able to trace the problem to [this line](https://github.com/bitpoke/mysql-operator/blob/18a6031621733203b43374b835eaa2fe59d35795/deploy/charts/mysql-operator/templates/servicemonitor.yaml#L32).

It should have been `servicePortName` [apparently](https://github.com/bitpoke/mys

[2022-01-06 19:29] imriss commented on #416
This could be a bug related to this delete table when it assumes the file does not exists while the file actually exists:
https://github.com/bitpoke/mysql-operator/blob/18a6031621733203b43374b835eaa2fe59d35795/pkg/sidecar/appconf.go#L201-L205

I was able to make the mysql cluster get ready after deleting this file then deleting the pod:
`/var/lib/mysql/sys_operator/status.ibd`

[2022-01-11 08:06] codebard commented on #416
Looking forward to the fix for this bug to be able to reconsider this operator for use in production.

[2022-01-13 08:52] liuxingjun opened #783 "helm installation support metrics-exporter-image"
Now mysql-operator cannot be customized with metrics-exporter-image using helm installation

Just add args to [statefulset.yaml#L65](https://github.com/bitpoke/mysql-operator/blob/master/deploy/charts/mysql-operator/templates/statefulset.yaml#L65) and you're done!
If allowed, I can submit a pr

[2022-01-13 10:59] liuxingjun commented on #783
Use extraArgs to achieve your goal

[2022-01-13 10:59] #783 closed

[2022-01-20 10:30] TomerG711 opened #785 "Make metrics-exporter container optional and configurable image"
Hi,
My team and I have recently installed the MySQL operator for setting up MySQL cluster.
However, we run on-prem and we've encountered some issues when we created a cluster.
When the statefulset of the cluster is created, it creates pods with multiple containers, one of them is metrics-exporter. This container is based on the image: prom/mysqld-exporter:v0.13.0. It is not configurable, and thus

[2022-01-22 19:36] jiuker opened #786 "mysql shouldn‘t restart"
version: 0.6.2
1.helm install operator
2.helm install mysql
wait for “mysql is ready”
3.helm uninstall operator
wait for “operator is real done”
4.helm install operator
wait for “operator is up”
now，mysql will restart！

it is compute sctRev，sctRev := secretSyncer.Object().(*corev1.Secret).ResourceVersion，it is for sts/podSpecTemplate/Annotations, it deepen on operator account configmap version。I i

[2022-01-22 19:39] jiuker commented on #785
you can do with:   operator/values.yaml
extraArgs: ["--metrics-exporter-image=image:tag"]

[2022-01-24 15:08] TomerG711 commented on #785
It works, thanks!

[2022-01-24 15:08] #785 closed

[2022-01-24 16:03] TomerG711 opened #787 "MySQL container "can't create/write to file '/var/run/mysqld/mysqld.pid'"
After installing the operator, when I try creating mysqlcluster (using kubectl -f apply to YAML file, after creating the required secret with the root password), I get the following error in the container logs:

Can't create/write to file '/var/run/mysqld/mysqld.pid' (OS errno 13 - Permission denied)

I couldn't figure why there are no permissions.
I also tried looking for any place to config the

[2022-01-25 02:18] jiuker commented on #786
The change of the version number of serect is just an appearance. In fact, I didn't configure a highly available password because it will be generated randomly. Therefore, the version of serect will change randomly after install.

[2022-01-26 11:40] TomerG711 commented on #770
Yes, this is a very important feature as for now the resources for the heartbeat container can be set to default values only. Allowing to configure these values, will make the operator more flexible.

[2022-01-27 01:14] #786 closed

[2022-01-30 20:21] neumantm commented on #412
Is this issue actually still open, or did the linked PR solve this?

[2022-01-31 23:08] dougfales commented on #412
Thanks for asking @neumantm. It's been a while, but as I recall, #422 solved this issue, and I probably should have closed it when that PR was merged. I'll go ahead and close it now.

[2022-01-31 23:08] #412 closed

[2022-02-01 14:02] TomerG711 opened #788 "MySQL keeps logging a warning after creating Mysqluser"
I've created a Mysqlcluster and a Mysqluserand both are great, but it seems that because the operator keep making sure that the user exists the master (and the master only) keep logging the following forever:

`[Warning] [MY-010235] [Server] Following users were specified in CREATE USER IF NOT EXISTS but they already exist. Corresponding entry in binary log used default authentication plugin 'mysq

[2022-02-07 11:56] calind commented on #787
The `fsGroup` is set in https://github.com/bitpoke/mysql-operator/blob/18a6031621733203b43374b835eaa2fe59d35795/pkg/controller/mysqlcluster/internal/syncer/statefullset.go#L132-L150

If there is a mismatch, means that percona changed user for their containers and we need to account for that in the operator.

As a workaround you should be able to mount `/var/run/mysqld` as a tmpfs, by specifying on

[2022-02-07 11:57] #781 closed

[2022-02-07 11:58] milero commented on #788
We are unsure we could do anything about it.

[2022-02-07 11:59] TomerG711 commented on #788
Is this behaviour OK?

[2022-02-07 12:03] calind commented on #780
I don't understand all the implications right now, as I'm not up to date with Pod Security Standards. Can you try a PR and check that it still runs on k8s >= 1.19.

Thanks!

[2022-02-08 23:36] elderapo opened #789 "Cloning from bucket progress"
When restoring big backups it takes some time to finish. Would be awesome if we could track the progress.

[2022-02-09 10:07] jalonsoa opened #790 "mysql pods not ready if the operator are not ready before pod start"
Hi,
  we have the mysql operator installed on cluster for dev/test environments. This cluster stop on nigth for reduce $$. When the cluster starts every morning all the pods that the operator have started not go to ready state. I think the problem is that the operator don't start before the pods. If we restart the mysql pods after de operator are ready all work fine.

  Why the operator don't reco

[2022-02-09 10:31] calind commented on #790
I need to take a look but seems to be a bug. Can you tell how many replicas per cluster?

[2022-02-09 11:38] jalonsoa commented on #790
Hi @calind !
  thanks for your answers. We have a 1 replica for mysql-operator and 1 replica per mysql cluster deployed.

[2022-02-10 07:16] elderapo opened #791 "Max backup size"
Just realized there is this line in the logs:
[code]

Does it mean that the maximum database backup size that can be uploaded to S3 is ~48.8 GB? I am slowly approaching this limit and haven't tested if it fails but would love to get some feedback.

[2022-02-10 07:39] calind commented on #791
You should be able to specify

[code]

You can set the chunk size up to 5Gi (according to https://docs.aws.amazon.com/AmazonS3/latest/userguide/qfacts.html).

Please reopen if this does not fix the issue.

[2022-02-10 07:39] #791 closed

[2022-02-16 07:38] jiuker opened #792 "mysqlConf with plugin-load-add"
Version:latest
I set
[code]

This version：
The resulting configMap has 'plugin-load-add = `semisync_ master.so; semisync_ slave. so`', but this MySQL starts with an error.([ERROR] Can't open shared library '/usr/lib/mysql/plugin/`semisync_master.so')
 If you remove the quotation marks, MySQL will start correctly. This is because 'ini', a third-party package, contains values byte ';' automatic quot

[2022-02-16 11:53] drivebyer opened #793 "can not run on macOS M1"
hi, thanks for the repo.

Here is my issue: can not run operator after `helm install mysql-operator bitpoke/mysql-operator`

environment:
[code]

operator pod events:
[code]

[2022-02-17 02:23] jiuker commented on #793
orchestrator.persistence.enabled=false, if you don't set storageClass.
U should pull docker.io/bitpoke/mysql-operator:v0.6.2 succeeded!

[2022-02-17 09:58] cndoit18 commented on #793
There is no image available for the arm64, so you can build your own image for the arm64 if needed

![image](https://user-images.githubusercontent.com/55286565/154451634-145ede5f-c83a-4e48-aa88-7040bd83e175.png)

[2022-02-17 13:08] proligde commented on #416
It seems like performing a manual failover, i.e. promoting one of the read replicas to be the new master, fixes this issue as well. At least that did the trick in my case.

This issue occurred in a freshly set up test cluster where I had shut down (gracefully using ACPI powerdown) all three nodes at the same time on purpose. After starting all three up again, I ended up in that very state, where b

[2022-02-21 06:16] jalonsoa commented on #790
any news on this ?

[2022-03-01 10:06] CloudCourierStation opened #795 "ERROR lookup mysql-operator-0.mysql-operator-orc on 10.96.0.10:53: read udp 10.88.0.32:51432->10.96.0.10:53:"
Hello, when I create mysql-operator, one of the containers of operator cannot be started. May I ask what is the cause?
The following is the error log
root@master:~/mysql-operator# kubectl logs -f mysql-operator-0 -c orchestrator -n mysql-operator
[martini] Started GET /api/raft-health for 10.88.0.1:58096
[martini] Completed 500 Internal Server Error in 321.501µs
[martini] Started GET /api/raft-hea

[2022-03-03 02:17] jiuker commented on #795
Turn down firewall？

[2022-03-03 15:38] CloudCourierStation commented on #795
My firewall is off
And I see that one of the mysql-operator containers is down
`root@master:~# kubectl get po -n mysql-operator -owide
NAME                 READY   STATUS    RESTARTS        AGE    IP           NODE     NOMINATED NODE   READINESS GATES
my-cluster-mysql-0   3/4     Running   4 (8m26s ago)   2d5h   10.88.0.38   node-1   <none>           <none>
mysql-operator-0     1/2     Running   1

[2022-03-07 11:47] TomerG711 opened #796 "Backup fails without detailed log"
I have installed the operator, created a cluster and a backup that runs every 30 minutes. Most of the time the backups works fine, however every few backups I get the following error logs (with not further details), and the backup fails of course:
![IMG_20220307_134036__01__01](https://user-images.githubusercontent.com/56138772/157028061-1136d732-6dba-4ffa-bf0e-ceff266fa513.jpg)

How can I fix thi

[2022-03-10 12:25] hellyhe opened #797 "Cannot change mysql config by modify configMap"
kubernetes ver: 1.23
operator version:  v0.6.2
mysql ver 5.7 or 8.0

when use  _**kubectl edit cm my-cluster-mysql**_ to change mysql config, mysql pod will be recreate.
but my configmap has no change when I run  kubectl edit cm  onece again.
check variables in mysql  with show global variables, get the same result.

cluster.yaml
[code]

[2022-03-10 15:19] hellyhe commented on #764
Generate base64 code use this command.
**echo -n password | base64**

echo without -n will Include enter key

[2022-03-12 10:28] #764 closed

[2022-03-13 10:12] TomerG711 opened #798 "Allow to configure backup pods resources"
Currently, I haven't found any way to configure backup pods resources. Thus, the pods are created with the default values. Is there any way to configure it? Or could it be added in a future version?

[2022-03-13 16:00] njuptlzf opened #799 "The leader cannot be elected at the first startup. Election timeout reached, restarting election"
It is the first time to use the operator in k3s to build a 3-node high-availability Mysql cluster, but the raft of the operator has never been able to select the leader.

operator0
[code]

operator1
[code]

operator2:
[code]

[2022-03-16 08:50] rayshen3 opened #800 "how to disable SSL?"
some errors occurred running the scale or backup

logs in init container
====
I0316 07:53:28.017904       1 deleg.go:130] sidecar "msg"="initialize a backup"  "endpoint"="/xbackup" "host"="im-mysql-0.mysql.middleware"
E0316 07:53:28.161394       1 deleg.go:144] sidecar "msg"="take backup command failed" "error"="getting backup: fail to get backup: %!s(<nil>), code: 500 Internal Server Error"

 log

[2022-03-17 01:08] rayshen3 commented on #800
I configured `skip_ssl: 1`and fixed it,  thx

[2022-03-22 01:21] DavidSpek commented on #767
@clcc2019 I hope the access key ID and secret have been disabled.

[2022-03-22 01:24] DavidSpek commented on #680
This would also be useful to be able to disable Istio sidecar injection for the Job pods, since that seems to make the backup fail and the job will never complete.

[2022-03-23 10:05] milero commented on #798
This is a missing feature, indeed. We are open to accept a pull request implementing it.

[2022-03-23 10:08] milero commented on #796
You could try checking the logs of the backup pods. That error means that _xtrabackup_ has failed somewhere in-between

[2022-03-23 10:10] TomerG711 commented on #796
The provided log is the log of the backup pod. Is there anyway to find more logs?

[2022-03-23 10:15] milero commented on #796
I'm afraid there is not a place that we are aware of at the moment.

[2022-03-23 11:08] #800 closed

[2022-03-30 08:47] elrondwong commented on #797
The my-cluster-mysql cm is managed  by the operator, so you changes is refreshed by the operator. you should modify the CR of the mysqlCluster.

[code]

[2022-03-30 09:20] elrondwong commented on #515
I have the same problem, version: v0.6.0.
My slave is synced.

[code]

[2022-03-31 02:19] elrondwong commented on #75
It is also important to change the secret  password key after password has changed by the mysql client.

[2022-04-06 07:43] hellyhe commented on #797
thx @elrondwong

[2022-04-06 07:43] #797 closed

[2022-04-07 07:52] von1994 opened #801 "Some users for operator are not passed into "init" container and will cause init not completed."
run initContainer "init"(clone-and-init) with bellow error:
`2022-04-07T06:21:15.594988Z 1 [ERROR] 1064  You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '@'%';' at line 1`

**operator-init.sql** like this:
`SET @@SESSION.SQL_LOG_BIN = 0;
SET GLOBAL READ_ONLY = 1;
CREATE DATABASE IF NOT EXISTS sys_operator;
DROP U

[2022-04-08 07:10] ekochen opened #802 "The headless service is truncated if it is tool long"
mysql-operator:v0.5.1

Create a mysqlclusters mysqlchenlan0408 in ns chenlanetest0406

the slave replica will use headless service to connect the master,  in this case the  headless service is mysqlchenlan0408-mysql-0.mysqlchenlan0408-hl.chenlanetest0406

from logs , the headless service is chenlanetest040, this case the replica can not connect to master

2022-04-08T06:37:02.313543Z 15 [ERROR] Sla

[2022-04-13 02:56] XiaoGe2030 opened #803 "How to build it from source code? just make，but failed ."
Env
[code]

my operation steps :
1、cd $GOPATH/src
2、git clone https://github.com/bitpoke/mysql-operator.git
3、cd mysql-operator
4、 make

get some error message:
[code]

I do not know , how to build it ! 🏀

[2022-04-19 07:17] Leo-Anna opened #804 "mysqlClustersGlobalServiceMonitor.enabled: true ,but it not used everywhere"

[2022-04-27 13:50] w33dw0r7d opened #806 "Unused 'init-scripts' volume"
Operator create StatefulSets with 'init-scripts' volume. This volume doesn't mount in any pod.

[code]

[2022-04-28 14:42] cndoit18 opened #809 "Unit test instability"
The existing unit tests depend on the order of execution of the goroutine, so it is prone to problems

[2022-05-04 13:28] ricristian opened #810 "Failed to pull image "gcr.io/pl-infra/stack/db-operator-orchestrator:v0.5.0""
Failed to pull image "gcr.io/pl-infra/stack/db-operator-orchestrator:v0.5.0": rpc error: code = Unknown desc = failed to pull and unpack image "gcr.io/pl-infra/stack/db-operator-orchestrator:v0.5.0": failed to resolve reference "gcr.io/pl-infra/stack/db-operator-orchestrator:v0.5.0": pulling from host gcr.io failed with status code [manifests v0.5.0]: 401 Unauthorized

can anyone help ?

[2022-05-04 13:41] ricristian commented on #810
I was using the old repo.

[2022-05-04 13:41] #810 closed

[2022-05-09 06:25] Leo-Anna opened #811 "mysql TCP long connect not broken"
after orchestrator switch，mysql master ‘s service connect should hava a change，but old master not dead and old long connect to old master not broken。
this problem hava cause problems。
that connection before switching still hava a write in，so hava a error about “mysql is Read-only，cat's ****”.
new conncetion is good。
this is a bug，need to take，please give me an answer

[2022-05-10 22:54] elderapo opened #812 "Backups fail after upgrading my db from 5.7 to 8.* version"
Logs from the sidecar container:
[code]

[2022-05-11 07:42] LvLs9 opened #813 "Cannot setup DigitalOcean Space S3-backups"
Hi! Do anyone have success with setting up Digital Ocean backups?

There is my cluster config:
[code]

And secret:
[code]

What I see in logs:
[code]

[2022-05-13 12:30] elderapo commented on #812
Logs from the backup container:
[code]

[2022-05-13 18:33] elderapo commented on #812
PLEASE HAAAALP!!!11 My production database is not being backed up automatically because of this issue :rofl:

[2022-05-16 18:06] elderapo commented on #813
Try `AWS_SECRET_KEY` instead of `AWS_SECRET_ACCESS_KEY`maybe... Also I think you might need to change `backupURL` from `s3://test-k8s-mysql-backups` something like `s3://test-k8s-mysql-backups/backups`.

I've been successfully using DO spaces for backups. All options I have in the secret is: `AWS_ACCESS_KEY_ID`, `AWS_SECRET_KEY` & `S3_ENDPOINT`.

[2022-05-18 08:57] melianim commented on #772
Hi @vertee , how did solve this issue please ?  any hints?

[2022-05-22 17:39] elderapo commented on #812
Ok so... The issue is caused by old version of `xtrabackup`. I've managed to get it fixed by building my custom side container image:

[code]

For anyone who wants to get it working before official fix from `bitpoke`:

[code]

[2022-05-23 21:36] gregbeecroft-taulia opened #815 "Monitor cluster restore progress from initBucketURL backup location?"
The Bitpoke documentation for restoring a cluster seems to be nonexistent:

https://www.bitpoke.io/docs/mysql-operator/cluster-recover/

So I figured I'd ask here. Is there a way to "monitor" or determine the progress of a restore that is occurring from the `spec.initBucketURL` field on the `MysqlCluster` custom resource?

For example, I can scale down the statefulset or mysqlcluster object to zer

[2022-05-23 21:37] gregbeecroft-taulia commented on #815
Also, not sure how to label this as a "Question" with a Github issue label...

[2022-05-25 02:56] lizhongxuan commented on #803
make!

[2022-05-25 02:56] XiaoGe2030 commented on #803
邮件已收到！

[2022-05-25 03:17] #713 closed

[2022-05-25 08:19] lizhongxuan commented on #803
rm buildx in Makefile

[2022-05-26 07:07] jicki opened #817 "orchestrator raft health Get Error 500"
* Mysql-Operator 1.6.2

[code]

[code]

[2022-05-26 08:52] #817 closed

[2022-05-26 09:35] jicki opened #818 "ERROR failed to open raft store: lookup"
[code]

[code]

[2022-05-30 03:10] #818 closed

[2022-06-10 08:16] imartinmora commented on #790
It happens to me too. Please, how could it be solved?

[2022-06-14 05:57] gregbeecroft-taulia commented on #815
Been about 3 weeks now, I guess there's no obvious way to monitor restoration progress of a backup then?

[2022-06-15 02:16] elrondwong opened #819 "ClientSet Informer lister can't be generated"

[2022-06-15 02:28] elrondwong opened #820 "Can't check the mysqlCluster creating status."
type: ReadOnly
type: Ready
type: PendingFailoverAck
type: FailoverInProgress

At present, only the above states are supported, and it is impossible to judge whether it is being created or not.

[2022-06-23 10:04] kylezhou1992 opened #822 "Permission denied mysqld: File '/var/lib/mysql/mysql-bin.index' not found"
Hi

After installing the mysql-operator, I'm trying to create a new mysql container by the guidence. But the container was rejected to access the file. I have changed the owner(999), group(999) and authority(777) of the hostPath but no result.

cluster.yaml
`apiVersion: v1
kind: Secret
metadata:
  name: my-secret
type: Opaque
data:
  # root password is required to be specified
  ROOT_PASSWORD: cGF

[2022-06-23 13:02] #804 closed

[2022-06-23 13:39] kylezhou1992 commented on #822
I'm sorry. This is wrong question. The permission should be fixed by init-container. Thank you.
[code]

[2022-06-23 13:39] kylezhou1992 commented on #822
https://github.com/bitpoke/mysql-operator/blob/master/examples/example-cluster.yaml

[2022-06-28 03:46] kylezhou1992 commented on #485
Then I list all the users. So I found that root and the user I created lost.

[2022-07-04 05:47] blaisertm opened #826 "Orchestrator persistence does not work on NFS?"
Hi,
I'm trying to install mysql-operator with PV on NFS, but the orhestrator cannot write the db, I'm running:

`helm install mysql-operator bitpoke/mysql-operator -n mysql-operator --create-namespace --set orchestrator.persistence.storageClass="nfs" --set orchestrator.persistence.fsGroupWorkaroundEnabled=true --set podSecurityContext.runAsNonRoot=false`

Init container seems to run and sets the p

[2022-07-07 00:56] jiuker opened #829 "[feature] Add phpadmin"
Would you like to integrate `phpAdmin` into the operator? I can contribute.

[2022-07-07 08:25] randywatson1979 opened #830 "CVE-2021-38561"
Several binaries in the images needed to be rebuilt with the upgraded go module.

CVE-2021-38561

Golang module:
golang.org/x/text

Affected version:
v0.3.6

Fixed version:
v0.3.7

[2022-07-07 08:36] randywatson1979 opened #831 "mysql-operator-sidecar debian:buster-slim (HIGH: 209, CRITICAL: 21)"
Currently the base image is debian:buster-slim. After scanning image with Trivy:
(HIGH: 209, CRITICAL: 21)

After using debian:bookworm-slim:
Total: 0 (HIGH: 1, CRITICAL: 0)

High (CVE-2021-38561) see other ticket:
[https://github.com/bitpoke/mysql-operator/issues/830](url)

[2022-07-07 15:17] randywatson1979 commented on #803
This error occurs because buildx plugin is not installed
Make sure you have docker plugin "buildx" installed. Either follow the official installation guide from Docker to install the latest version. Mine is 20.10.17.

[2022-07-07 15:17] XiaoGe2030 commented on #803
邮件已收到！

[2022-07-08 06:47] jiuker opened #832 "How to support service with NodePort?"
Now may be put an extra service.yaml to apply.

[2022-07-08 08:01] XiaoGe2030 commented on #803
Greate, It's working, thanks 👍

[2022-07-08 08:03] #803 closed

[2022-07-14 06:06] drivebyer opened #833 "Bump MySQL 5.7 version"
The latest MySQL version bump at #509.

Currently, the latest version is up to 5.7.35 according to https://hub.docker.com/_/percona?tab=tags&page=1&name=5.7.35. I think we should bump the default version to 5.7.35.

[2022-07-17 14:07] randywatson1979 commented on #416
My only workaround is:
- set replicaset of mysql-operator to 0
- delete the mysqlcluster statefullset
- set replicaset of mysql-operator to 1
- apply the mysql-cluster yaml

Not pretty though.

[2022-07-20 09:00] jiuker commented on #829
@cndoit18

[2022-07-22 09:10] #833 closed

[2022-08-08 09:48] w33dw0r7d opened #836 "Limit backup job name to 63 charts"
This issue is like #577.

`Warning  JobSyncFailed  9m21s (x163 over 39h)  mysqlbackup-controller  batch/v1, Kind=Job keycloak/keycloak-mysql-mysql-cluster-im-db-auto-2022-08-05t00-00-00-backup failed syncing: Job.batch "keycloak-mysql-mysql-cluster-im-db-auto-2022-08-05t00-00-00-backup" is invalid: spec.template.labels: Invalid value: "keycloak-mysql-mysql-cluster-im-db-auto-2022-08-05t00-00-00-ba

[2022-08-10 09:40] darktempla commented on #793
@cndoit18 - any instructions on how to build images for arm64 locally? I took a look at the build logic looks pretty complicated more so because amd64 binaries are hard coded into the Dockerfile. So any guidance would be appreciated happy to have a crack at it.

[2022-08-11 03:11] 1447543654 commented on #423
我也觉得应该有一个配置选项去控制pvc是否删除

[2022-08-13 03:28] csi0n opened #839 "ERROR database is locked"
Here is logs
[code]
seem like raft_store.db is locked, how to unlock it? I try to restart the docker, but the problem is still. my mysql-operator version is 0.5.3

[2022-08-16 07:30] panpan0000 opened #840 "Release 0.6.3"
the last tag 0.6.2 was 9 month ago..

[2022-08-17 07:16] drivebyer opened #841 "should disable recurrent backup in a graceful way"
For now, there is no explict way to disable recurrent backup.

One tricky way is to set `MysqlCluster.Spec.BackupURL` to empty string. By this way, the new created MysqlBackup always have a [empty BackupURL](https://github.com/bitpoke/mysql-operator/blob/master/pkg/internal/mysqlbackup/mysqlbackup.go#L56), it will always lead to one running(Not Completed) MysqlBackup.

After setting `MysqlCluster.

[2022-08-18 03:53] #770 closed

[2022-08-18 05:28] #841 closed

[2022-08-23 06:56] yankay commented on #840
HI  @cndoit18 , Should we release a new version?

[2022-08-23 07:13] cndoit18 commented on #840
cc @calind

[2022-08-26 08:29] drivebyer opened #843 "Support manually specify backup candidate node"
Now, the backup candidate node is calculate by:

https://github.com/bitpoke/mysql-operator/blob/d5d4981ec556514a7a8c6dfc707ec80c22df5cea/pkg/controller/mysqlbackup/internal/syncer/job.go#L91-L116

In some cases, we need backup spcify node,  for example:
1. a node is created only for backup or
2. a node has less stress which is more suitable for backup

[2022-08-27 14:18] #836 closed

[2022-08-27 21:09] w33dw0r7d commented on #811
This is not operator bug.

kubernetes/kubernetes#100698
kubernetes/kubernetes#108523

[2022-08-27 21:33] w33dw0r7d commented on #811
This problem can be solved with orchestrator hooks.
You can use PostGracefulTakeoverProcesses to reset all connections on old master via script.

[2022-08-28 13:53] Leo-Anna commented on #811
yes，it's kubernetes ’s problem，I'm already aware of it。thanks

[2022-08-29 02:51] drivebyer opened #844 "Have no access to update mysqlbackups/status"
Here is error message:
[code]

Here is operator rules:
https://github.com/bitpoke/mysql-operator/blob/8b5fffb95edeab178461754fe39134afb388d437/deploy/charts/mysql-operator/templates/clusterrole.yaml#L75-L86

We should give the same rules to mysqlbackups/status the same as mysqlbackups.

[2022-08-29 15:57] w33dw0r7d opened #846 "policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+, unavailable in v1.25+"
`warning_handler.go:65] KubeAPIWarningLogger "msg"="policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+, unavailable in v1.25+; use policy/v1 PodDisruptionBudget"`

I think need fix deprecated api versions. And remove PSP.
I can make PR.
@cndoit18

[2022-08-30 02:59] #844 closed

[2022-08-30 12:29] drivebyer commented on #801
Is there any repruduct steps?

In my opinion, the related user and password have passed to init container actually.

Here is code:
https://github.com/bitpoke/mysql-operator/blob/b7ea748da61515346b69d7d8314be8e672b5c915/pkg/controller/mysqlcluster/internal/syncer/statefullset.go#L618-L626

From above, the ***init*** and ***sidecar*** container will be populated all related envs from cluster secret

[2022-08-31 14:42] drivebyer commented on #774
Nice catch! May be the first method is better, becouse it's better to unit test and it's more consistent with already code.

[2022-08-31 15:30] drivebyer commented on #809
maybe one case: https://ci.bitpoke.io/bitpoke/mysql-operator/319/1/6

[2022-08-31 15:45] #774 closed

[2022-09-01 18:39] #404 closed

[2022-09-01 18:40] #407 closed

[2022-09-07 06:28] drivebyer opened #848 "Updated password only take effect after 2min"
Step 1: create file test.yaml(then apply):
[code]
the database and use will be created.

Step 2: update data.PADDWORD of test-db-secret in test.yaml(then apply)

We can connect to database with new password after 2min. I think the key code is:
https://github.com/bitpoke/mysql-operator/blob/42e15e6da8e0b83114c03f41a4a0b668a162d204/pkg/controller/mysqluser/mysqluser_controller.go#L108-L111

Maybe we

[2022-09-07 06:42] yylstudy opened #849 "gtid_ Mode: "off", the replicas of the MySQL Cluster cannot be started"
operator version：v0.6.2
when gtid_ Mode: "off", the replicas of the MySQL Cluster cannot be started，this operator not support Gtid is not supported_ Mode: "off"?

[2022-09-08 02:37] panpan0000 commented on #840
Hey, Dear @calind , can you please help ? Or is there any release process which somebody else can offload the work when you are busy?

[2022-09-13 09:02] yankay commented on #840
HI @calind,

Look forward a new version :-)

[2022-09-13 15:21] davidhiendl opened #851 "Duplicate cluster name in different namespaces prevents cluster from being setup correctly"
When creating multiple clusters in **different namespaces** with the same name only one cluster is added to the orchestrator and one cluster remains in read-only mode.

Example:
[code]

[2022-09-14 15:31] kudiyarov commented on #846
Mysql-operator is unable to start on 1.25 k8s due to watching already removed "policy/v1beta1" version - [mysqlcluster_controller.go](https://github.com/bitpoke/mysql-operator/blob/v0.6.2/pkg/controller/mysqlcluster/mysqlcluster_controller.go#L107)
Operator's log message:
`E0914 13:55:00.560358       1 deleg.go:144] mysql-operator "msg"="unable to start the manager" "error"="failed to wait for con

[2022-09-19 09:30] xulongju commented on #840
HI @calind,

Please type a new tag，thanks！

[2022-09-28 12:28] elderapo opened #854 "Floating point long-query-time doesn't work"
When setting `long-query-time` for example to `0.5` instead of `1` the operator thows the following error:
[code]
and the cluster doesn't get updated.

[2022-09-29 08:16] calind commented on #840
Will look into merged code and make the release.

[2022-10-05 11:23] tebaly commented on #673
Hello. In my case:
- I used Kubespray
- Hoster shut down several servers
    - Got there one ETCD, one Worker
- I tried adding new
- Something went wrong
- I DIDN'T NOTICE IT
- The cluster crumbled
- In a panic, I barely fix it
- I DID SOMETHING WRONG
----

## EVERYTHING WORKED, BUT there were errors in MySQL clusters only.

Obviously, I figured the problem was **mysql-operator** - no changes help

[2022-10-09 19:22] w33dw0r7d opened #856 "Orchestrator can't properly update or migrate when it more than one."
When deploy 3 replicas of operator. Mysql-operator helm chart generate peers list in orchestrator config. And when 3 pods start in one time, all work fine. Upgrade mysql-operator via helm release is broking raft. Because when pod restart it have new ip. This ip doesn't updated in raft peer list in old ones. Eventually in the end of upgrade all pods in raft have different peers list. Killing all po

[2022-10-19 17:16] esn89 opened #859 "mysql database stuck in read-only mode"
We have 2 main issues right now:
- when we do a `kubectl rollout restart statefulset mysql` the Endpoint of the MySQL service reports no endpoints as the label of `role: master` doesn't get added to any of the 2 replicas.
- I tried to manually add the label to which the database now starts in readOnly mode:

[code]

In the operator, I have even set the `readOnly: false` and restarted it, but to no

[2022-11-15 15:30] yunussandikci commented on #840
I am looking forward to the release since it includes a pt-heartbeat resource setting 🙂

[2022-11-22 09:36] Ghostbaby opened #863 "support use hdfs to storage mysql backup"

[2022-11-24 12:53] yunussandikci commented on #840
Hello @calind,
First of all, thanks a lot for this great project. Secondly, Is there any ETA for the new release?
Thanks!